{% import "_snippets.twig" as snippets %}

<article id="{{ post.id|e('esc_html') }}" class="{{ post.class|e('esc_html') }} uk-card uk-flex uk-flex-middle" uk-grid data-template="_tease.twig">
  
  {% if post.thumbnail %}
    <li class="uk-width-1-3@m">
      <figure class="uk-inline">
        <img class="" src="{{ post.thumbnail.src|resize(520)|e('esc_url') }}" alt="{{ post.thumbnail.alt|e('esc_html') }}">
        {% if post.thumbnail.caption %}
          <figcaption class="uk-overlay uk-overlay-primary uk-position-bottom uk-padding-small uk-text-center">
            {{ post.thumbnail.caption|e('esc_html') }}
          </figcaption>
        {% endif %}
      </figure>
    </li>
  {% endif %}
  
  <li class="uk-width-2-3@m">
  
    {% block single_header %}
      <header class="tease-header uk-card-header uk-padding-remove uk-margin-bottom">
        
        {# tease title #}
        <h2 class="uk-h1 uk-margin-remove">
          {{ post.title|e('esc_html') }}
        </h2>
        
        {# tease meta #}
        {% if post.categories or (post.date and post.post_type == 'post') %}
          <div class="uk-text-meta">
            
            {# post date #}
            {% set _post_date %}{% spaceless %}
              <time class="post-date">{{ post.date|date('j F Y')|e('esc_html') }}</time>
            {% endspaceless %}{% endset %}
            {{ snippets.written_on|e('esc_html')|format(_post_date) }}
          
            {# post cats #}
            {% if post.categories %}
              {% set _post_cats %}{% spaceless %}
                <span class="post-terms">{{ post.categories|join(', ') }}</span>
              {% endspaceless %}{% endset %}
              {{ snippets.posted_in|e('esc_html')|format(_post_cats) }}
            {% endif %}
            
          </div>
        {% endif %}
        
      </header>
    {% endblock %}
  
    {% block single_content %}
      <div class="uk-card-body uk-padding-remove tease-content">
        
        {# single content or password form #}
        {% if not fn('post_password_required', post.id) %}
          <p class="uk-margin-bottom">{{ post.preview.length(32).force.read_more('') }}</p>
        {% else %}
          <div class="password-protected-form">
            {% include '_password-protected-form.twig' with {small: true} %}
          </div>
        {% endif %}
        
      </div>
    {% endblock %}
  
    {% if not fn('post_password_required', post.id) %}
      <footer class="uk-card-footer uk-padding-remove tease-footer">
        <a href="{{ post.link|e('esc_url') }}" class="uk-button uk-button-primary">{{ snippets.read_more|e('esc_html') }}</a>
      </footer>
    {% endif %}
  
  </li>

</article>