{% extends 'base.twig' %}
{% import "_snippets.twig" as snippets %}

{% block main %}
  <div class="theme-archive uk-section" data-template="archive.twig">

    {% block archive_header %}
      <header class="archive-header uk-container uk-margin-medium-bottom">
    
        <h1 class="archive-title uk-text-bold uk-heading-small uk-margin-remove">
          {{ title|e('esc_html') }}
        </h1>
        
        {% if description %}
          <p class="archive-description uk-text-lead uk-margin-remove-bottom">
            {{ description|e('esc_html') }}
          </p>
        {% endif %}
    
      </header>
    {% endblock %}

    {% block archive_content %}
      <div class="archive-content uk-container">
        <div class="archive-loop uk-margin-top">
          {% if posts is not empty %}
            <ul class="uk-child-width-1-1 uk-grid-large" uk-grid>
              {% for post in posts %}
                <li>
                  {% include '_tease.twig' %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            {{ snippets.no_posts()|e('esc_html') }}
          {% endif %}
        </div>
      </div>
    {% endblock %}
    
    {% block archive_footer %}
      <footer class="archive-footer">
        {% if (posts.pagination.next or posts.pagination.prev) %}
          <nav class="pagination archive-pagination uk-margin-large-top">
            <ul class="uk-pagination uk-flex-center uk-margin-remove">
              
              {% if posts.pagination.prev %}
                <li>
                  <a href="{{ posts.pagination.prev.link|e('esc_url') }}" class="prev">
                    <i uk-icon="icon: chevron-double-left; ratio: .8"></i> {{ snippets.prev_page|e('esc_html') }}
                  </a>
                </li>
              {% endif %}
              
              {% for page in posts.pagination.pages %}
                <li>
                  {% if page.link %}
                    <a href="{{ page.link|e('esc_url') }}" class="{{ page.class|e('esc_html') }}">{{ page.title|e('esc_html') }}</a>
                  {% else %}
                    <span class="{{ page.class|e('esc_html') }}">{{ page.title|e('esc_html') }}</span>
                  {% endif %}
                </li>
              {% endfor %}
              
              {% if posts.pagination.next %}
                <li>
                  <a href="{{ posts.pagination.next.link|e('esc_url') }}" class="next">
                    {{ snippets.next_page|e('esc_html') }} <i uk-icon="icon: chevron-double-right; ratio: .8"></i>
                  </a>
                </li>
              {% endif %}
              
            </ul>
          </nav>
        {% endif %}
      </footer>
    {% endblock %}
  
  </div>
{% endblock %}