{% import "_snippets.twig" as snippets %}
{% extends "base.twig" %}

{% block styles %}
  {{ parent() }}
{% endblock %}

{% block main %}
  <div data-template="archive.twig">

    {% block archive_header %}
      <header class="uk-section uk-section-muted">
        <div class="uk-container uuuk-container-xsmall">
          <h1 class="">{{ archive.title }}</h1>
          {% if archive.description %}
            <p class="excerpt uk-text-muted uk-padding uk-padding-remove-vertical">{{ archive.description|e('esc_html') }}</p>
          {% endif %}
        </div>
      </header>
    {% endblock %}

    {% block archive_content %}

      {% block archive_main_posts %}
        <div class="uk-section uk-container">
          {% if archive.posts is not empty %}
            <div class="archive-posts uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-medium" uk-grid="masonry: true">
              {% for post in archive.posts %}
                <article id="post-{{ post.id|e('esc_html') }}" class="post item uk-section uk-section-small uk-padding-remove-top {{ post.class|e('esc_html') }}">
                  {% include '_tease.twig' with {post: post, preview_length: 20, thumb_w: 600} %}
                </article>
              {% endfor %}
            </div>
          {% else %}
            <p class="uk-text-emphasis">{{ snippets.no_posts()|e('esc_html') }}</p>
          {% endif %}
        </div>
      {% endblock %}
    {% endblock %}

    {% block archive_footer %}
        {% if (posts.pagination.next or posts.pagination.prev) %}
          <footer>
            {% set _posts = archive.posts %}
            {% include '_pagination.twig' with { pagination: _posts.pagination({show_all: false, mid_size: 3, end_size: 2}), container_class: '' } %}
          </footer>
        {% endif %}
    {% endblock %}

  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  {% if configs.inf_pagination %}
    <script type='text/javascript'>
      var themePagination = document.getElementById("themePagination");
      if(themePagination){
        window.addEventListener('load', (event) => {
          archivePagination();
        });
      }
    </script>
  {% endif %}
{% endblock %}
