{% import "_snippets.twig" as snippets %}

{# form intro #}
<p class="{{ (small != true) ? 'uk-text-lead' }}">{{ snippets.pass_protect_text|e('esc_html') }}</p>

<form class="password-form uk-width-large" action="{{ site.site_url|e('esc_url') }}/wp-login.php?action=postpass" method="post">
  <div class="uk-grid-collapse uk-flex uk-flex-middle" uk-grid>
    
    {# input label #}
    <div class="uk-width-auto uk-visible@m">
      <label for="pwbox-{{ post.id|e('esc_html') }}" class="uk-form-label uk-margin-small-right">{{ snippets.pass_label|e('esc_html') }}:</label>
    </div>
    
    {# input label #}
    <div class="uk-width-expand">
      <input class="password-box uk-input uk-width-expand" name="post_password" id="pwbox-{{ post.id|e('esc_html') }}" type="password" placeholder="{{ snippets.pass_label|e('esc_html') }}" size="20" maxlength="20" />
    </div>
    
    {# submit button #}
    <div class="uk-width-auto">
      <input class="password-btn uk-button uk-button-primary" type="submit" name="Submit" value="{{ snippets.pass_enter_text|e('esc_html') }}" />
    </div>
    
  </div>
</form>