{% import "_snippets.twig" as snippets %}

{% if (post.next or post.prev) %}
  <nav class="article-pagination uk-margin-medium-top">
    <ul class="uk-child-width-1-2" uk-grid>
      
      {# left #}
      <li class="prev-article uk-text-left">
        {% if post.next %}
          <a href="{{ post.next.link|e('esc_url') }}" class="uk-link-reset">
            <div class="uk-text-emphasis">
              {{ snippets.left_pagi_icon() }} {{ snippets.prev_post|e('esc_html') }}
            </div>
            <div class="uk-text-small uk-text-meta uk-text-truncate uk-visible@m">{{ post.next.title|e('esc_html') }}</div>
          </a>
        {% endif %}
      </li>
      
      {# right #}
      <li class="next-article uk-text-right">
        {% if post.prev %}
          <a href="{{ post.prev.link|e('esc_url') }}" class="uk-link-reset">
            <div class="uk-text-emphasis">
              {{ snippets.next_post|e('esc_html') }} {{ snippets.right_pagi_icon() }}
            </div>
            <div class="uk-text-small uk-text-meta uk-text-truncate uk-visible@m">{{ post.prev.title|e('esc_html') }}</div>
          </a>
        {% endif %}
      </li>
      
    </ul>
  </nav>
{% endif %}