{% extends '_sub-header.twig' %}
{% import "_snippets.twig" as snippets %}

{% block page_header_title %}
  {# single title & meta grid #}
  <ul class="uk-flex uk-flex-middle uk-grid-small" uk-grid>
    
    {# single title #}
    <li class="uk-width-1-1 uk-width-expand@m">
      <h1 class="uk-text-bold uk-heading-small uk-margin-remove">
        {{ post.title|e('esc_html') }}
      </h1>
    </li>
    
    {# single meta #}
    {% if post.categories or (post.date and post.post_type == 'post') %}
      <li class="uk-width-1-1 uk-width-auto@m">
        <div class="uk-text-meta uk-text-small">
          
          {# post date #}
          {% set _post_date %}{% spaceless %}
            <time class="post-date">{{ post.date|date('j F Y')|e('esc_html') }}</time>
          {% endspaceless %}{% endset %}
          {{ snippets.written_on|e('esc_html')|format(_post_date) }}
        
          {# post cats #}
          {% if post.categories %}
            {% set _post_cats %}{% spaceless %}
              <span class="post-terms">{{ post.categories|join(', ') }}</span>
            {% endspaceless %}{% endset %}
            {{ snippets.posted_in|e('esc_html')|format(_post_cats) }}
          {% endif %}
          
        </div>
      </li>
    {% endif %}
    
  </ul>
{% endblock %}