{% extends 'base.twig' %}
{% import "_snippets.twig" as snippets %}

{% block styles %}
  {{ parent() }}
  <link rel='stylesheet' href='{{theme.link}}/assets/css/editor.css' type='text/css' media='all' />
{% endblock %}

{% block main %}
  <article id="{{ post.id|e('esc_html') }}" class="{{ post.class|e('esc_html') }} uk-background-default" data-template="single.twig">

    {% block single_header %}
      <header class="single-header uk-background-muted">
        <div class="uk-container uk-padding-small">
          <h1 class="uk-margin-remove">{{ post.title|e('esc_html') }}</h1>
          {% if post.categories or (post.date and post.post_type == 'post') %}
            <div class="uk-text-meta">

              {% set _post_date %}{% spaceless %}
                <time class="post-date">{{ post.date|date('j F Y')|e('esc_html') }}</time>
              {% endspaceless %}{% endset %}
              {{ snippets.written_on|e('esc_html')|format(_post_date) }}

              {% if post.categories %}
                {% set _post_cats %}{% spaceless %}
                  <span class="post-terms">{{ post.categories|join(', ') }}</span>
                {% endspaceless %}{% endset %}
                {{ snippets.posted_in|e('esc_html')|format(_post_cats) }}
              {% endif %}

            </div>
          {% endif %}
        </div>
      </header>
    {% endblock %}

    {% block single_thumb %}
      {% if post.thumbnail %}
        <figure class="uk-inline uk-margin-remove">
          <img class="cover-img min-height-medium uk-height-max-large" src="{{ post.thumbnail.src|resize(1920, 450, 'center')|e('esc_url') }}" alt="{{ post.thumbnail.alt|e('esc_html') }}">
          {% if post.thumbnail.caption %}
            <figcaption class="uk-overlay uk-overlay-primary uk-position-bottom uk-padding-small uk-text-center">
              {{ post.thumbnail.caption|e('esc_html') }}
            </figcaption>
          {% endif %}
        </figure>
      {% endif %}
    {% endblock %}

    {% block breads %}
      <div class="uk-container push-up-5">
        {% include '_breads.twig' %}
      </div>
    {% endblock %}

    {% block single_content %}
      <div class="single-content uk-background-default uk-section uk-section-small">
        {% block single_content_inner %}
          {# single content or password form #}
          {% if not fn('post_password_required', post.id) %}
            <div class="content-editor gutenberg-editor">
              {{ post.content }}
            </div>
          {% else %}
            <div class="password-protected-form uk-section uk-container">
              {% include '_password-protected-form.twig' %}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    {% endblock %}

    {% block single_footer %}
      {% if (post.next or post.prev) and (post.post_type == 'post' or post.post_type == 'product') and not fn('post_password_required', post.id) %}
        <footer class="single-footer uk-container uk-margin-medium-bottom uk-margin-medium-top">

          {% block single_share %}
            {% if configs.theme_post_share %}
              {# share goes here... #}
            {% endif %}
          {% endblock %}

          {% block single_pagination %}
            {% if configs.theme_post_paging and (post.next or post.prev) %}
              <nav class="article-pagination">
                <ul class="uk-child-width-1-2" uk-grid>

                  {# left #}
                  <li class="prev-article uk-text-left">
                    {% if post.next %}
                      <a href="{{ post.next.link|e('esc_url') }}" class="uk-link-reset">
                        <div class="uk-text-emphasis">
                          {{ snippets.pagi_left_icon_small()|e('wp_kses_post') }} {{ snippets.prev_post|e('esc_html') }}
                        </div>
                        <div class="uk-text-small uk-text-meta uk-text-truncate uk-visible@m">{{ post.next.title|e('esc_html') }}</div>
                      </a>
                    {% endif %}
                  </li>

                  {# right #}
                  <li class="next-article uk-text-right">
                    {% if post.prev %}
                      <a href="{{ post.prev.link|e('esc_url') }}" class="uk-link-reset">
                        <div class="uk-text-emphasis">
                          {{ snippets.next_post|e('esc_html') }} {{ snippets.pagi_right_icon_small()|e('wp_kses_post') }}
                        </div>
                        <div class="uk-text-small uk-text-meta uk-text-truncate uk-visible@m">{{ post.prev.title|e('esc_html') }}</div>
                      </a>
                    {% endif %}
                  </li>

                </ul>
              </nav>
            {% endif %}
          {% endblock %}

          {% block single_comments %}
            {% if configs.theme_post_comments %}
              {# comments go here... #}
            {% endif %}
          {% endblock %}

        </footer>
      {% endif %}
    {% endblock %}

  </article>
{% endblock %}
