{% extends 'single.twig' %}
{% import "_snippets.twig" as snippets %}

{% block styles %}
  {{ parent() }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;400;500;700;800;900&family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <style>
  
      /* uikit */
      html {
        font-size: 17px;
      }
      html,
      .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle,
      .uk-logo {
        font-family: 'Source Sans Pro', sans-serif;
      }
      .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
        font-family: 'Arima Madurai', cursive;
        font-weight: 700;
      }
      .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
        font-size: 1rem;
        text-transform: capitalize;;
      }
      .uk-text-lead {
        font-size: 1.3rem;
        line-height: 1.3;
      }
      .uk-button-primary {
        background-color: #131441;
        border: 1px solid transparent;
        color: #fff;
      }
      
      /* new swiper */
      .swiper {
        /* width: 100%;
        height: 100%; */
      }
      .swiper-slide {
        /* text-align: center; */
        /* font-size: 18px;
        background: #fff; */

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .swiper-slide img {
        /* display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; */
      }
      .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: -15px;
      }
      
      /* utility */
      .pull-up-1-1 {
        margin-top: -100%;
      }
      
      .uk-button-small.uk-border-rounded {
        border-radius: 30px;
      }
      .uk-button-large.uk-border-rounded {
        border-radius: 50px;
      }
      
      .padding-left-3 {
        padding-left: 3px;
      }
      
      .uk-button.uk-label-danger:hover,
      .uk-button.uk-label-success:hover {
        color: #fff;
      }
      
      /* responsive */
      @media only screen and (max-width:959px) {
        /* hero section mobile */
        #Hero .pull-up-1-1 {
          margin-top: auto;
        }
        #Hero .content-half {
          height: fit-content;
        }
        #Hero .image-half {
          max-height: 120px;
        }
      }
      

      .uk-light .uk-text-emphasis i {
        color: #cebd9b;
      }
      .uk-label-success.label-default {
        background-color: #00000000;
        color: #999;
        border: 1px solid #b2b2b2;
      }
      .uk-button {
        text-transform: capitalize;
      }
      .uk-light .uk-button-default {
        border-width: 2px;
      }
      
      .pull-up-50 {
        margin-top: -50px;
      }
      .pull-up-15 {
        margin-top: -15px;
      }
      
      .uk-label {
        text-transform: capitalize;
      }
      .label-large {
        padding: 5px 25px;
      }
      
      
      

      .value-message-strip__image-border {
        background-image: url("data:image/svg+xml;utf8,<svg width='63' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M63 15.99V0h-2v13.504h-5.39L55.65 7h-1.3v6.504h-4.7V7h-1.3v6.504h-4.7V7h-1.3v6.504h-4.7V7h-1.3v6.504h-5v-10.5L29.65 3v10.504h-5V7h-1.3v6.504h-4.7V7h-1.3v6.504h-4.7V7h-1.3v6.504h-4.7V7h-1.3v6.504H0V16l63-.01z' fill='%23ffffff'/></svg>");
        background-repeat: repeat-x;
        background-position-y: bottom;
        background-size: 40px;
      }
      .value-message-strip__wrapper {
                    padding: 24px;
          position: relative;
          overflow: hidden;
      }
      
      .value-message-strip__items {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
      .value-message-strip__item {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
      }
      .value-message-strip__item-icon {
          flex: 1 1 100px;
      }
      .value-message-strip__item-icon, .value-message-strip__item-text {
          flex: initial;
      }
      .value-message-strip__item-icon {
          height: 60px;
          margin-right: 16px;
          flex: 1 1 100px;
          text-align: right;
      }
      .value-message-strip__item-icon svg {
          height: 100%;
      }
      .value-message-strip__item-text {
          color: #2e2c2c;
          line-height: 1.3;
          letter-spacing: 0;
          /* font-family: ProximaNovaAlt,Arial,"sans-serif"; */
          font-size: 20px;
          font-weight: 700;
          text-transform: none;
          color: inherit;
          text-transform: uppercase;
      }
      
      .value-message-strip__item-text {
          flex: 2 2 200px;
      }
      
      .value-message-strip__tagline {

      }
      
      .value-message-strip__tagline {
          color: #686058;
          line-height: 1.6;
          font-size: 24px;
          font-weight: 500;
          letter-spacing: 3px;
          line-height: 1.5;
          color: inherit;
          text-align: center;
          margin: 0 16px;
      }
  </style>
{% endblock %}

{% block header %}
  <header class="site-header uk-background-default">
    
    <div class="uk-background-primary uk-light padding-10 uk-padding-remove-horizontal">
      <div class="uk-container uk-container-small">
        
        <div class="swiper mySwiper">
          <div class="swiper-wrapper uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-text-primary">
            
            <div class="swiper-slide">
              <div class="uk-text-center uk-text-small">
                <div class="uk-grid uk-grid-collapse uk-child-width-auto uk-flex uk-flex-middle uk-text-emphasis" uk-grid>
                  <div>Price Promise</div>
                  <div class="padding-left-3"><i class="fa-solid fa-euro-sign"></i></div>
                </div>
              </div>
            </div>
            
            <div class="swiper-slide">
              <div class="uk-text-center uk-text-small">
                <div class="uk-grid uk-grid-collapse uk-child-width-auto uk-flex uk-flex-middle uk-text-emphasis" uk-grid>
                  <div>Fully Guaranteed</div>
                  <div class="padding-left-3"><i class="fa-solid fa-clipboard-check"></i></div>
                </div>
              </div>
            </div>
            
            <div class="swiper-slide">
              <div class="uk-text-center uk-text-small">
                <div class="uk-grid uk-grid-collapse uk-child-width-auto uk-flex uk-flex-middle uk-text-emphasis" uk-grid>
                  <div>Rated Excellent</div>
                  <div class="padding-left-3"><i class="fa-solid fa-star"></i></div>
                </div>
              </div>
            </div>
            
            <div class="swiper-slide">
              <div class="uk-text-center uk-text-small">
                <div class="uk-grid uk-grid-collapse uk-child-width-auto uk-flex uk-flex-middle uk-text-emphasis" uk-grid>
                  <div>35 years of value</div>
                  <div class="padding-left-3"><i class="fa-solid fa-calendar-check"></i></div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
        
      </div>
    </div>
    
    <nav class="logo-nav uk-background-muted padding-10 uk-padding-remove-horizontal">
      <div class="uk-container">
        <ul class="uk-flex uk-flex-middle" uk-grid>
          <li class="uk-width-auto">
            <a class="uk-logo uk-text-bold" href="{{ site.link|e('esc_url') }}">
              {% if theme.logo %}
                <img src="{{ theme.logo.src|e('esc_url') }}" width="{{ theme.logo.w }}" height="{{ theme.logo.h }}" alt="{{ theme.logo.alt|e('esc_html') }}">
              {% else %}
                {{ site.title|e('esc_html') }}
              {% endif %}
            </a>
        	</li>
          <li class="uk-width-expand uk-flex uk-flex-center uk-text-center uk-visible@m">
            Call 1800 34 11 66 to request an appointment with our team
          </li>
          <li class="uk-width-auto uk-flex uk-flex-right uk-text-right uk-visible@m">
            <div>
              <a class="uk-button uk-label-danger uk-button-small uk-border-rounded">Freephone <i class="fa-solid fa-phone-flip padding-left-3"></i></a>
              <a class="uk-button uk-label-success uk-button-small uk-border-rounded">Whatsapp <i class="fa-brands fa-whatsapp padding-left-3"></i></a>
              <a class="uk-button uk-label-success label-default uk-button-small uk-border-rounded">Request a Brochure <i class="fa-solid fa-download padding-left-3"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    
    <nav class="main-menu-nav padding-10 uk-padding-remove-horizontal theme-border-top theme-border-bottom uk-visible@m">
      <div class="uk-container">
        <ul class="uk-flex uk-flex-middle" uk-grid>
        
          {# logo/site_title #}
          {% if has_menu_main %}
            <li class="uk-width-1-2 uk-flex uk-flex-left">
              <ul class="uk-navbar-nav pull-left-15">
                
                {# main menu items #}
                {% for item in menu_main.get_items %}
                  {% if item.get_children %}
                    <li class="uk-visible@m {{ item.classes|join(' ')|e('esc_html') }}">
                      <a class="min-height-40" href="{{ item.get_link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
                      <div uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                          {% for child in item.get_children %}
                            <li class="{{ child.classes|join(' ')|e('esc_html') }}">
                              <a href="{{ child.get_link|e('esc_url') }}">{{ child.title|e('esc_html') }}</a>
                              {% if child.children %}
                                <div uk-dropdown="pos: right-top">
                                  <ul class="uk-nav uk-dropdown-nav">
                                    {% for third in child.children %}
                                      <li class="{{ third.classes|join(' ')|e('esc_html') }}">
                                        <a href="{{ third.get_link|e('esc_url') }}">{{ third.title|e('esc_html') }}</a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                </div>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </li>
                  {% else %}
                    <li class="uk-visible@m {{ item.classes|join(' ')|e('esc_html') }}">
                      <a class="min-height-40" href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                
                {# account toggle #}
                <li class="user-icon uk-visible@m" hidden>
                  <a href="{{dashboard_endpoint|e('esc_url')}}">
                    {{ snippets.account_icon() }}
                  </a>
                </li>
                
                {# cart toggle #}
                <li class="basket-icon uk-visible@m" hidden>
                  <a href="#MiniCartModal" uk-toggle>
                    
                    {{ snippets.basket_icon() }}
                    
                    <span class="uk-position-relative">
                      <span class="">
                        <span class="header-cart-count">{{ WC.cart.get_cart_contents_count()|e('wp_kses_post') }}</span>
                        <span class="subtotal-cart">{{ WC.cart.get_cart_subtotal()|e('wp_kses_post') }}</span>
                      </span>
                    </span>
                    
                  </a>
                </li>
                
                {# search toggle #}
                <li class="search-icon uk-visible@m" hidden>
                  <a href="#ModalSearch" uk-toggle>
                    {{ snippets.search_icon() }}
                  </a>
                </li>
                
                {# mobile toggle #}
                <li class="uk-hidden@m" hidden>
                  <a class="uk-navbar-toggle" uk-toggle="target: #SlideInMenu">{{ snippets.menu_bars_icon() }}</a>
                </li>
                
              </ul>
          	</li>
          {% endif %}
          
          {# main menu/s #}
          {% if has_menu_secondary %}
            <li class="uk-width-1-2 uk-flex uk-flex-right">
              <ul class="uk-navbar-nav pull-right-15">
                
                {# main menu items #}
                {% for item in menu_secondary.get_items %}
                  {% if item.get_children %}
                    <li class="uk-visible@m {{ item.classes|join(' ')|e('esc_html') }}">
                      <a class="min-height-40" href="{{ item.get_link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
                      <div uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                          {% for child in item.get_children %}
                            <li class="{{ child.classes|join(' ')|e('esc_html') }}">
                              <a href="{{ child.get_link|e('esc_url') }}">{{ child.title|e('esc_html') }}</a>
                              {% if child.children %}
                                <div uk-dropdown="pos: right-top">
                                  <ul class="uk-nav uk-dropdown-nav">
                                    {% for third in child.children %}
                                      <li class="{{ third.classes|join(' ')|e('esc_html') }}">
                                        <a href="{{ third.get_link|e('esc_url') }}">{{ third.title|e('esc_html') }}</a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                </div>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </li>
                  {% else %}
                    <li class="uk-visible@m {{ item.classes|join(' ')|e('esc_html') }}">
                      <a class="min-height-40" href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                
                {# account toggle #}
                <li class="user-icon uk-visible@m" hidden>
                  <a href="{{dashboard_endpoint|e('esc_url')}}">
                    {{ snippets.account_icon() }}
                  </a>
                </li>
                
                {# cart toggle #}
                <li class="basket-icon uk-visible@m" hidden>
                  <a href="#MiniCartModal" uk-toggle>
                    
                    {{ snippets.basket_icon() }}
                    
                    <span class="uk-position-relative">
                      <span class="">
                        <span class="header-cart-count">{{ WC.cart.get_cart_contents_count()|e('wp_kses_post') }}</span>
                        <span class="subtotal-cart">{{ WC.cart.get_cart_subtotal()|e('wp_kses_post') }}</span>
                      </span>
                    </span>
                    
                  </a>
                </li>
                
                {# search toggle #}
                <li class="search-icon uk-visible@m theme-border-left">
                  <a class="min-height-40" href="#ModalSearch" uk-toggle>
                    {{ snippets.search_icon() }}
                  </a>
                </li>
                
                {# mobile toggle #}
                <li class="uk-hidden@m" hidden>
                  <a class="uk-navbar-toggle" uk-toggle="target: #SlideInMenu">{{ snippets.menu_bars_icon() }}</a>
                </li>
                
              </ul>
          	</li>
          {% endif %}
        
        </ul>
      </div>
    </nav>
    
  </header>

  {% if has_menu_main %}
    <nav id="SlideInMenu" class="mobile-slide-navbar" uk-offcanvas="mode: push; overlay: true">
      <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide uk-padding-small">
        
        <a class="uk-offcanvas-close uk-position-top-right uk-position-small uk-padding-remove">{{ snippets.close_menu_icon() }}</a>
        
        {# mobile menu nav #}
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
          
          {# mobile menu header #}
          <li class="uk-nav-header uk-padding-remove uk-margin-small-bottom">
            {{ menu_main.title|e('esc_html') }}
          </li>
          
          <li class="uk-nav-divider"></li>
          
          {# mobile menu #}
          {% for item in menu_main.get_items %}
            {% if item.get_children %}
              <li class="{{ item.classes|join(' ')|e('esc_html') }} uk-parent">
                <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html')}}</a>
                <ul class="uk-nav-sub">
                  {% for child in item.get_children %}
                    <li class="{{ child.classes|join(' ')|e('esc_html') }}">
                      <a href="{{ child.get_link|e('esc_url') }}">- {{ child.title|e('esc_html')}}</a>
                      {% if child.children %}
                        <ul class="uk-nav-sub">
                          {% for third in child.children %}
                            <li class="{{ child.classes|join(' ')|e('esc_html') }}">
                              <a href="{{ child.get_link|e('esc_url') }}">- {{ child.title|e('esc_html')}}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                <a href="{{ item.get_link|e('esc_url') }}">{{ item.title|e('esc_html')}}</a>
              </li>
            {% endif %}
          {% endfor %}
          
        </ul>
        
      </div>
    </nav>
  {% endif %}
  
  <div id="ModalSearch" class="uk-modal-full uk-modal" uk-modal>
    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
      <a class="uk-modal-close-full uk-close">{{ snippets.close_menu_icon_large()|e('wp_kses_post') }}</a>
      <form class="uk-search uk-search-large" role="search" method="get" action="{{ site.url|e('esc_url') }}">
        <input id="header-search" class="uk-search-input uk-text-center" type="search" name="s" placeholder="{{ snippets.search_form_placeholder|e('esc_html') }}" 
        required maxlength="100" pattern=".*\S+.*" autocomplete="off" autofocus>
        <!-- <input type="hidden" name="post_type" value="product" /> -->
      </form>
    </div>
  </div>
{% endblock %}

{% block main %}
  <article id="{{ post.id|e('esc_html') }}" class="{{ post.class|e('esc_html') }} uk-background-defaultttt" data-template="single.twig">
    
    {% block single_header %}
      {# parent() #}
    {% endblock %}
    
    {% block single_thumb %}
      {# parent() #}
    {% endblock %}
    
    {% block breads %}
      {# parent() #}
    {% endblock %}
    
    {% block single_content %}
    
      <div id="TheContent" class="content-editor gutenberg-editor">
        {{ post.content }}
      </div>
    
      <div id="aWorkInProgress">
        
        <section id="OldCoverBlockCover" class="uk-background-muted">
          
          <div class="uk-section uk-section-small uk-background-center-center uk-position-relative uk-background-cover uk-background-fixed overlay-wrap white-overlay uk-dark" src="https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-20-1920x1200.jpg" style="background-image: url(https://solarisblinds.ie/wp-content/uploads/2019/11/solaris-blinds-day-night-blinds-20-1920x1200.jpg);">
            
            <div class="uk-position-z-index uk-position-relative uk-container uk-container-small uk-text-center uk-margin-bottom">
              
              <h1 id="CoverBlockTitle" class="uk-h1 uk-text-primary">Solaris Blinds &amp; Curtains</h1>
                  
              <hr class="uk-divider-small">

              <p class="uk-text-lead uk-margin-medium-bottom">We will at all times strive to provide you with an after sale service to all our products, Not just for 1 year but for all the years to come. Blinds, Curtains &amp; Shutters in Westmeath, Longford, Meath, Kildare, Offaly, Cavan, &amp; Dublin.</p>
            
              <a id="CoverBlockStandardButton" type="button" href="#Blinds" title="Scroll to Content" class="uk-button uk-button-primary uk-button-large uk-border-rounded uk-margin-medium-bottom" uk-scroll="offset:200">View more</a>
                  
            </div>
                
            <div class="uk-position-z-index uk-container uk-position-bottom-center">
              <div class="uk-flex uk-flex-center uk-flex-middle">
                <ul class="uk-subnav uk-subnav-divider uk-flex uk-flex-center uk-flex-middle" uk-margin="">
                  
                      
                  <li class="uk-first-column"><a href="#Blinds" title="Scroll to: Blinds" uk-scroll="offset:200">Blinds</a></li>
                
                      
                  <li><a href="#Curtains" title="Scroll to: Curtains" uk-scroll="offset:200">Curtains</a></li>
                
                      
                  <li><a href="#Shutters" title="Scroll to: Shutters" uk-scroll="offset:200">Shutters</a></li>
                
                      
                  <li><a href="#block_5df37f5dc423d" title="Scroll to: Get a Free Quotation" uk-scroll="offset:200">Get a Free Quotation</a></li>
                
                    
                </ul>
              </div>
            </div>
                
          </div>

        </section>
        
        <section id="4ColsFeatures" class="uk-background-default uk-section" hidden>
          <div class="uk-container uk-container-large">
            <h2 class="uk-text-center">Measured, made and fitted by us</h2>
            <div class="uk-text-center">
              <hr class="uk-divider-small">
            </div>
            <ul class="uk-child-width-1-4@m" uk-grid>
              <li class="uk-text-center">One</li>
              <li class="uk-text-center">Two</li>
              <li class="uk-text-center">Three</li>
              <li class="uk-text-center">Four</li>
            </ul>
          </div>
        </section>
        
        <section id="3ColsPRoductCats" class="uk-background-muted uk-section uk-section-small">
          <div class="uk-container uk-container-large">
            <ul class="uk-child-width-1-3@m" uk-grid>
              <li class="">
                <div>
                  <div class="uk-inline uk-transition-toggle">
                    <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=2" alt="">
                    <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                    </div>
                  </div>
                  <div class="uk-padding uk-padding-remove-vertical pull-up-50">
                    <div class="uk-background-default uk-text-center uk-position-relative">
                      <div class="uk-position-top pull-up-15">
                        <span class="uk-label uk-label-danger label-large">Sale</span>
                      </div>
                      <div class="uk-padding">
                        <h3 class="uk-margin-small">Blinds</h3>
                        <p class="uk-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut.</p>
                        <a href="#" class="uk-button uk-button-text">browse blinds</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="">
                <div>
                  <div class="uk-inline uk-transition-toggle">
                    <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=3" alt="">
                    <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                    </div>
                  </div>
                  <div class="uk-padding uk-padding-remove-vertical pull-up-50">
                    <div class="uk-background-default uk-text-center uk-position-relative">
                      <div class="uk-position-top pull-up-15">
                        <span class="uk-label uk-label-danger label-large">Sale</span>
                      </div>
                      <div class="uk-padding">
                        <h3 class="uk-margin-small">Curtains</h3>
                        <p class="uk-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut.</p>
                        <a href="#" class="uk-button uk-button-text">browse blinds</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="">
                <div>
                  <div class="uk-inline uk-transition-toggle">
                    <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=4" alt="">
                    <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                    </div>
                  </div>
                  <div class="uk-padding uk-padding-remove-vertical pull-up-50">
                    <div class="uk-background-default uk-text-center uk-position-relative">
                      <div class="uk-position-top pull-up-15">
                        <span class="uk-label uk-label-danger label-large">Sale</span>
                      </div>
                      <div class="uk-padding">
                        <h3 class="uk-margin-small">Shutters</h3>
                        <p class="uk-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut.</p>
                        <a href="#" class="uk-button uk-button-text">browse blinds</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
        
        <section id="MainProductsCarousel" class="uk-background-default uk-section">
          <div class="uk-container uk-container-large">
            <h2 class="uk-margin-remove">Discover beautiful styles at great prices</h2>
            <p class="uk-text-lead uk-margin-remove uk-text-muted">Our expert measuring and fitting is included at no extra cost</p>
            <div class="uk-position-relative ">
              <div class="swiper-two mySwiper2 uk-overflow-hidden uk-margin-medium-top">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=5" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Roller Blinds</h3>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Roller Blinds</a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=6" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Venetian Blinds</h3>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Venetian Blinds</a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=7" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Wooden Blinds</h3>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Wooden Blinds</a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=8" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Roman Blinds</h3>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Roman Blinds</a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=9" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Vertical Blinds</h3>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Vertical Blinds</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination uk-margin-top"></div>
            </div>
          </div>
        </section>
        
        <section id="ValueProductsCarousel" class="uk-background-default uk-section">
          <div class="uk-container uk-container-large">
            <h2 class="uk-margin-remove">Introducing our NEW VALUE collection</h2>
            <p class="uk-text-lead uk-margin-remove uk-text-muted">High quality Roller, Vertical and Roman blinds that offer incredible value for money. Transform your windows at a price you’ll love.</p>
            <div class="uk-position-relative">
              <div class="swiper-two mySwiper2 uk-overflow-hidden uk-margin-medium-top">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=10" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Value Collection</h3>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Value Collection</a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=11" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Roller Blinds</h3>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Roller Blinds</a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=12" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Vertical Blinds</h3>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Vertical Blinds</a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=13" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Roman Blinds</h3>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Roman Blinds</a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=14" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Vertical Blinds</h3>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Vertical Blinds</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination uk-margin-top"></div>
            </div>
          </div>
        </section>
        
        <section id="ElectricBlindsVideo" class="uk-background-default uk-margin-medium-bottom">
          <div class="uk-container">
            <ul class="uk-child-width-1-2@m uk-flex uk-flex-top" uk-grid>
              <li>
                <div class="uk-inline uk-dark">
                  <img class="" src="https://picsum.photos/640/320?random=15" width="640" height="320" alt="">
                  <div class="uk-overlay-defaulttt uk-position-cover">
                    <div class="uk-position-center uk-light">
                      <svg style="width:60px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle">
                        <circle cx="12" cy="12" r="10"></circle>
                        <polygon points="10 8 16 12 10 16 10 8"></polygon>
                      </svg>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <h2>Upgrade to electric for simple control at the touch of a button</h2>
                <p class="uk-text-lead">It's so easy to operate your Roller, Roman or Day and Night blinds with motorisation. Pair your blinds with your Somfy smart hub and set timers for your blind for added security and convenience.</p>
                <a href="#" class="uk-button uk-button-large uk-button-default">View our Electric Blinds</a>
              </li>
            </ul>
          </div>
        </section>
        
        <section id="CTA" class="uk-background-default uk-margin-medium-bottom">
          <div class="uk-container">
            <div class="value-message-strip__wrapper value-message-strip__image-border" style="background-color:  #0a6060; color:  #ffffff;">
              <div class="value-message-strip__items">
              <div class="value-message-strip__item">
              <div class="value-message-strip__item-icon">
              <svg viewBox="0 0 69 99" xmlns="http://www.w3.org/2000/svg">
              <path fill="transparent" d="M53.179 48.607l-.5 2.5-11.6 42.9c-.4 1.6-1.6 2.9-3.1 3.7-.6.3-1.3.5-2 .6-1 .1-2 .1-2.9-.2l-27.9-7.5c-3.5-1-5.7-4.4-4.8-7.6l12.1-44.8c.7-2.4 3.8-4.3 4.4-4.6l11.4-6.2v-.1l2.3-1.3 3.1-1.7c.1 0 .1-.1.2-.1 2.7-.9 5.6-.1 7.5 2l.1.2 10.3 16.7.1.1c1.1 1.6 1.5 3.5 1.3 5.4zm-14.3-9.2c0-2.5-2-4.5-4.5-4.5s-4.5 2-4.5 4.5 2 4.5 4.5 4.5 4.5-2 4.5-4.5z"></path>
              <path fill=" #ffffff" d="M62.979 18.707c-4-3.5-8.9-5.9-14.2-6.9-5.1-1.1-9.9-.6-15-.1-.8.1-1.7.2-2.5.2.6-2.5 1.5-5 2.6-7.3.7-1.6-1.8-2.5-2.5-1-1.2 2.7-2.1 5.6-2.8 8.5-8.7.3-19-1.1-20.6-11-.1-.7-.9-1.2-1.6-1-.7.1-1.2.9-1 1.6 1.5 8.7 9 12.4 17.1 13.1 1.9.2 3.8.2 5.7.1-.6 3.9-.6 7.9.1 11.7l-11.7 6.6c-.6.4-3.8 2.3-4.4 4.8l-12 45.9c-.9 3.3 1.4 6.7 5 7.7l28.7 7.3c1 .2 2 .3 3 .1.7-.1 1.4-.4 2-.7 1.5-.8 2.7-2.1 3.1-3.8l11.3-44c4.5.1 8.7-1.8 11.6-5.2 6.7-7.3 5.3-19.9-1.9-26.6zm-11.8 29.1c-3.7-.7-7.1-2.2-10-4.6-.3-.3-.7-.5-1-.8 1.7-3.1.6-6.9-2.5-8.6-1.3-.7-2.7-.9-4.1-.7-.2 0-.4.1-.5.1-3.4 1.1-5.2 4.6-4.2 8 .9 2.9 3.7 4.7 6.8 4.4 1-.2 2-.6 2.8-1.2 3.4 3 7.6 5 12.1 5.9l-11.2 43.6c-.2.9-.9 1.7-1.7 2.1-1 .5-2.1.6-3.1.3l-28.6-7.3c-2.1-.4-3.5-2.4-3.1-4.4l11.8-46c.2-.9 1.6-2.2 3.2-3.1l11-6.2 2.3-1.3 3.8-2.2c1.7-.5 3.5 0 4.7 1.2l10.7 16.8c.7 1.2 1 2.6.8 4zm-16.8-12.1c2-.1 3.8 1.4 3.9 3.4 0 .5 0 .9-.2 1.4-1.4-1.5-2.6-3.1-3.7-4.8zm2.1 6.9c-.4.2-.8.4-1.2.5-2 .3-3.9-1-4.3-3-.2-1.2.2-2.4 1-3.2.8 1.3 1.7 2.6 2.7 3.8.5.6 1.1 1.2 1.8 1.9zm21 4.8c-1.2.4-2.4.6-3.7.7.2-1.9-.3-3.9-1.2-5.5 0 0 0-.1-.1-.1l-10.8-17-.1-.2c-1.9-2.1-5-2.9-7.7-2l-.2.1-3.2 1.8c-.5-3.5-.4-7.1.2-10.6 6-.5 12.1-1.4 18.1 0 5.1 1 9.7 3.5 13.4 7.1 3.3 3.6 4.5 8.4 4.3 13.2-.1 5.6-3.7 10.5-9 12.5zm-24 8.1c-4.7-1.2-8.5 1.3-11.3 7.5l11.3 2.8-.8 3.1-11.5-2.8-.4 1.4-.4 1.5-.2 1.1 10.3 2.6-.8 3.1-9.9-2.5c-.3 2.6.2 5.2 1.4 7.5 1.2 2 3.2 3.4 5.4 3.9 2.4.6 4.9.6 7.3.1l-.9 3.6c-2.5.5-5 .4-7.4-.2-3.2-.6-6-2.6-7.7-5.4-1.6-2.7-2.2-6.2-1.9-10.5l-3.7-.9.8-3.1 3.4.8.2-1 .3-1.1.5-1.9-3.4-.8.8-3.1 3.6.9c1.6-4.1 3.8-7 6.6-8.8 2.8-1.8 6.2-2.3 9.4-1.4 2.9.7 5.5 2.2 7.6 4.4l-2.4 3c-1.8-1.8-3.9-3.1-6.2-3.8z"></path>
              </svg>

              </div>
              <div class="value-message-strip__item-text">
              SOLARIS  Price Promise
              </div>
              </div>
              <div class="value-message-strip__item">
              <div class="value-message-strip__item-icon">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 80 81" xml:space="preserve">
              <path stroke=" #ffffff" fill="none" stroke-width="3" stroke-miterlimit="10" d="M49.8 20.1L38.1 37.4l-8.5-8.3"></path>
              <path stroke=" #ffffff" fill="none" stroke-width="3" stroke-miterlimit="10" d="M54.5 48.9L63 71.8l-10.1-3.5-5.1 9.3-8.4-19.1-5.9 12.6-5.2-9.3-10.1 3.5 6.1-16.9M39.9 1.6c4.2 0 8.4 1.1 12.1 3.1 3.7 2 6.9 4.9 9.3 8.3 2.3 3.5 3.8 7.5 4.3 11.7.4 4.2-.1 8.5-1.7 12.4-1.6 3.9-4.1 7.4-7.4 10.1-3.2 2.8-7.1 4.6-11.3 5.5C36.8 54.5 28 52 21.8 46c-4.9-4.9-7.7-11.5-7.7-18.5 0-3.4.6-6.8 1.9-9.9 1.3-3.2 3.2-6 5.6-8.4C24 6.9 26.9 5 30 3.7c3.1-1.3 6.5-2 9.9-2.1z"></path>
              </svg>

              </div>
              <div class="value-message-strip__item-text">
              Peace of mind guaranteed 
              </div>
              </div>
              <div class="value-message-strip__item">
              <div class="value-message-strip__item-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.09 47.77">
              <path fill=" #ffffff" d="M35.4,20.14l2.16,1.1a6.53,6.53,0,0,1-5.79,3.24,7.28,7.28,0,0,1-7.25-5.22H23.4V17.81h.87a6.81,6.81,0,0,1-.05-.78,7.22,7.22,0,0,1,.05-.82H23.4V14.77h1.15a7.25,7.25,0,0,1,7.22-5.18,6.51,6.51,0,0,1,5.79,3.24l-2.16,1.1a4.27,4.27,0,0,0-3.63-2.1,4.78,4.78,0,0,0-4.51,2.94h5.83v1.44H26.85c0,.26,0,.54,0,.82s0,.52,0,.78h6.24v1.45H27.24a4.78,4.78,0,0,0,4.53,3A4.22,4.22,0,0,0,35.4,20.14Z"></path>
              <path fill=" #ffffff" d="M30.94,32.92a15.79,15.79,0,1,1,15.8-15.79A15.81,15.81,0,0,1,30.94,32.92Zm0-29.58a13.79,13.79,0,1,0,13.8,13.79A13.81,13.81,0,0,0,30.94,3.34Z"></path>
              <path fill="none" d="M13.46,28.28H15.7c-.37-.54-.73-1.1-1-1.67A4.71,4.71,0,0,0,13.46,28.28Z"></path>
              <path fill="none" d="M19.29,32.76H13.44a4.76,4.76,0,0,0,4.53,3,4.22,4.22,0,0,0,3.62-2.09l2.16,1.1A6.55,6.55,0,0,1,18,38a7.28,7.28,0,0,1-7.25-5.23H9.6V31.32h.86c0-.26,0-.52,0-.78s0-.56,0-.82H9.6V28.28h1.14a6.86,6.86,0,0,1,2.89-3.91A18,18,0,0,1,12.43,18c0-.09,0-.17,0-.25a13.77,13.77,0,1,0,17.4,18.22,17.85,17.85,0,0,1-10.56-3.85Z"></path>
              <path fill="none" d="M13,30.54c0,.26,0,.52,0,.78h5.36a16.94,16.94,0,0,1-1.57-1.6H13.05C13,30,13,30.26,13,30.54Z"></path>
              <path fill=" #ffffff" d="M10.74,28.28H9.6v1.44h.86c0,.26,0,.54,0,.82s0,.52,0,.78H9.6v1.44h1.12A7.28,7.28,0,0,0,18,38a6.55,6.55,0,0,0,5.78-3.24l-2.16-1.1A4.22,4.22,0,0,1,18,35.74a4.76,4.76,0,0,1-4.53-3h5.85v-.69c-.31-.24-.59-.49-.88-.75H13.05c0-.26,0-.52,0-.78s0-.56,0-.82h3.79q-.6-.69-1.14-1.44H13.46a4.71,4.71,0,0,1,1.19-1.67,19.7,19.7,0,0,1-1-2.24A6.86,6.86,0,0,0,10.74,28.28Z"></path>
              <path fill=" #ffffff" d="M19.29,31.32h-.88c.29.26.57.51.88.75Z"></path>
              <path fill=" #ffffff" d="M29.85,35.92A13.77,13.77,0,1,1,12.45,17.7a17.64,17.64,0,0,1,.17-2.19A15.79,15.79,0,1,0,32,35.87c-.52.05-1,.08-1.57.08C30.24,36,30.05,35.93,29.85,35.92Z"></path>
              </svg>

              </div>
              <div class="value-message-strip__item-text">
              Multi-blind discounts
              </div>
              </div>
              </div>
              <div class="value-message-strip__tagline">It all adds up to value you can measure</div>
            </div>
          </div>
        </section>
        
        <section id="AboutUsCarousel" class="uk-background-muted uk-section uk-section-small">
          <div class="uk-container uk-container-large">
            <h2 class="uk-margin-remove">Discover more about Solaris</h2>
            <div class="uk-position-relative">
              <div class="swiper-two mySwiper2 uk-overflow-hidden uk-margin-medium-top">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=15" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Summer Sales</h3>
                        <p class="uk-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Summer Sales</a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=16" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Looking for Prices</h3>
                        <p class="uk-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Prices</a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=17" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Vertical Blinds</h3>
                        <p class="uk-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Vertical Blinds</a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=18" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Roman Blinds</h3>
                        <p class="uk-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Roman Blinds</a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div>
                      <div class="uk-inline uk-transition-toggle">
                        <img class="uk-border-rounded" src="https://picsum.photos/700/700?random=19" alt="">
                        <div class="uk-position-cover uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-transition-fade">
                        </div>
                      </div>
                      <div class="uk-padding uk-padding-small uk-padding-remove-horizontal uk-position-relative">
                        <h3 class="uk-margin-remove">Vertical Blinds</h3>
                        <p class="uk-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="uk-button uk-button-text uk-margin-remove">View Vertical Blinds</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination uk-margin-top"></div>
            </div>
          </div>
        </section>
        
        <section id="Hero">
          <ul class="uk-grid-collapse uk-grid-match uk-child-width-1-2@m" uk-grid>
            <li class="image-half">
              <div class="uk-inline">
                <img src="https://picsum.photos/960/720?random=1" width="960" height="720" alt="">
                <div class="uk-overlay-default uk-position-cover">
                  <div class="uk-position-center">
                    <!-- <i class="fa-solid fa-images"></i> -->
                  </div>
                </div>
              </div>
            </li>
            <li class="uk-position-relative content-half">
              <div class="uk-background-primary uk-light uk-flex uk-flex-center uk-flex-middle uk-height-1-1">
                <div class="hero-content uk-width-2-3@m uk-text-center uk-padding-small">
                  <h2>Solaris Blinds & Curtains</h2>
                  <p class="uk-text-lead uk-margin-remove-bottom">We will at all times strive to provide you with an after sale service to all our products, Not just for 1 year but for all the years to come. Blinds, Curtains & Shutters in Westmeath, Longford, Meath, Kildare, Offaly, Cavan, & Dublin.</p>
                  <a type="button" href="#" class="uk-button uk-button-default uk-button-large uk-border-rounded uk-margin-medium-top" uk-scroll="offset:200">View more</a>
                </div>
              </div>
              <div class="uk-flex uk-flex-bottom">
                <div class="pull-up-1-1 uk-width-1-1">
                  <div class="uk-background-secondary uk-text-center uk-padding-small uk-text-primary">
                    <span class="uk-text-primary">Same product, same service. We'll match the price.</span>
                  </div>
                </div>
              </div>
              <!-- <div class="uk-position-bottom uk-background-secondary uk-width-1-1 uk-text-center uk-padding-small uk-text-primary">
                Same product, same service. We'll match the price.
              </div> -->
            </li>
          </ul>
        </section>
        
        <section id="Reviews" class="uk-background-default uk-section uk-section-small" hidden>
          <div class="uk-container">
            Default
          </div>
        </section>
        
        <section id="CollectionsCarousel" class="uk-background-default uk-section" hidden>
          <div class="uk-container uk-container-large">
            Large
          </div>
        </section>
        
        <section id="4ColsTrends" class="uk-background-default uk-section" hidden>
          <div class="uk-container uk-container-large">
            Large
          </div>
        </section>
        
        <section id="3ColsNext" class="uk-background-default uk-section" hidden>
          <div class="uk-container uk-container-large">
            Large
          </div>
        </section>
        
        <section id="4ColsTrustBadges" class="uk-background-default uk-section uk-section-small" hidden>
          <div class="uk-container uk-container-small">
            Small
          </div>
        </section>
        
      </div>
    {% endblock %}
    
    {% block single_footer %}
      {# parent() #}
    {% endblock %}
    
  </article>
{% endblock %}

{% block footer %}
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 0,
      // autoplay: {
      //   delay: 2500,
      //   disableOnInteraction: false,
      // },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 5,
        },
        960: {
          slidesPerView: 3,
          spaceBetween: 10,
        },
        1200: {
          slidesPerView: 4,
          spaceBetween: 15,
        },
      },
    });
    var swiper = new Swiper(".mySwiper2", {
      slidesPerView: 1,
      spaceBetween: 0,
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
      },
      // autoplay: {
      //   delay: 2500,
      //   disableOnInteraction: false,
      // },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 5,
        },
        960: {
          slidesPerView: 3,
          spaceBetween: 10,
        },
        1200: {
          slidesPerView: 4,
          spaceBetween: 10,
        },
      },
    });
  </script>
  <footer class="site-footer">
    <div class="footer-top uk-background-muted theme-border-top">
      <div class="uk-container uk-section uk-section-small">
        <div>
          <ul class="" uk-grid="masonry:true">
            <li class="uk-width-1-4@m">
              <div class="uk-margin-right">
                <a class="uk-logo uk-text-bold" href="{{ site.link|e('esc_url') }}">
                  {% if theme.logo %}
                    <img src="{{ theme.logo.src|e('esc_url') }}" width="{{ theme.logo.w }}" height="{{ theme.logo.h }}" alt="{{ theme.logo.alt|e('esc_html') }}">
                  {% else %}
                    {{ site.title|e('esc_html') }}
                  {% endif %}
                </a>
                <p>Our expert team have been established for over 20 years, we are proud to say that we know our business inside & out.</p>
              </div>
            </li>
            <li class="uk-width-1-6@m">
              <h4 class="uk-h5 uk-text-bold uk-margin-small-bottom">Our range</h4>
              <ul class="uk-list uk-list-collapse uk-margin-remove">
                <li>Blinds</li>
                <li>Curtains</li>
                <li>Shutters</li>
                <li>Conservatory Blinds</li>
              </ul>
            </li>
            <li class="uk-width-1-6@m">
              <h4 class="uk-h5 uk-text-bold uk-margin-small-bottom">Learn More</h4>
              <ul class="uk-list uk-list-collapse uk-margin-remove">
                <li>Contact Us</li>
                <li>FAQs</li>
                <li>Cleaning Your Blinds</li>
                <li>Covid 19</li>
              </ul>
            </li>
            <li class="uk-width-1-6@m">
              <h4 class="uk-h5 uk-text-bold uk-margin-small-bottom">Information</h4>
              <ul class="uk-list uk-list-collapse uk-margin-remove">
                <!-- <li>Find Your Local Advisor</li> -->
                <li>Sitemap</li>
                <li>Privacy Policy</li>
                <li>Terms & Conditions</li>
                <!-- <li>Anti-Slavery</li> -->
                <!-- <li>Tax Strategy</li> -->
                <li>Cookie Information</li>
                <!-- <li>Solaris Blinds & Curtains</li> -->
              </ul>
            </li>
            <li class="uk-width-1-4@m">
              <div class="uk-padding-small uk-border-rounded uk-background-default theme-border">
                <h4 class="uk-margin-small-bottom">Newsletter Signup</h4>
                <p>Contact us today so we can help guide your decisions to redesigning your home or office</p>
                <div class="uk-margin-remove">
                  <form class="uk-search uk-search-default">
                    <span class="uk-search-icon-flip" uk-search-icon></span>
                    <input class="uk-search-input" type="search" placeholder="Search">
                  </form>
                </div>
              </div>
            </li>
          </ul>
        </div>  
      </div>
    </div>
    <div class="footer-bottom uk-background-default theme-border-top uk-padding-small uk-padding-remove-horizontal">
      <div class="uk-container">
        
        <ul class="uk-flex uk-flex-middle" uk-grid>
        
          {# copyright #}
          <li class="uk-width-1-2">
            <p class="uk-margin-remove">
              {{ snippets.copyright()|e('esc_html') }} {{ now|date('Y')|e('esc_html') }} <a href="{{ site.link|e('esc_url') }}" uk-tooltip="{{ snippets.back_to_home()|e('esc_html') }}">{{ site.title|e('esc_html') }}</a>
            </p>
        	</li>
          
          {# back to top #}
          <li class="uk-width-1-2 uk-flex uk-flex-right uk-text-right">
            <a href="#" uk-totop uk-scroll uk-tooltip="{{ snippets.go_to_top()|e('esc_html') }}"></a>
        	</li>
        
        </ul>
        
      </div>
    </div>
  </footer>
{% endblock %}