{% import "_snippets.twig" as snippets %}

{% block html_head_container %}

  {% include '_html-head.twig' %}
    {% block styles %}
    {% endblock %}
  </head>
  {% endblock %}

  <body class="{{ body_class }}">
    
    {% block theme_preloader_markup %}
      {% if configs.theme_preloader %}
        <div id="Preloader" class="preloader"></div>
      {% endif %}
    {% endblock %}
    
    {% do action('theme_before_header') %}

    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}
    
    <main id="Main" role="main">
      <div id="ContentSection">
        {% block main %}
          <div class="uk-section uk-container">
            {{ snippets.nothing_here()|e('esc_html') }}
          </div>
        {% endblock %}
      </div>
    </main>
    
    {% block footer %}
      {% include 'footer.twig' %}
    {% endblock %}
    
    <div id="QuickCallEnquiryContainer" class="rmcc-box-shadow-top">
      <a class="close" uk-toggle="target: #QuickCallEnquiryContainer">x</a>
      <a href="tel:{{ options.company_number }}" id="CallNowButton" style="width:50%;display:inline-block;float:left">
        <span uk-icon="icon: receiver"></span> Freephone us
      </a>
      <a href="https://wa.me/353892154278?text=Hello,%20Solaris%20Blinds" id="CallNowButton" style="width:50%;display:inline-block;float:right;background-color:#25D366;">
        <span uk-icon="icon: whatsapp"></span> Whatsapp
      </a>
    </div>
    
    {{ fn('wp_footer') }}
    
    {% block fixednav %}
      {# include '_fixednav.twig' #}
    {% endblock %}
    
    <div id="MiniCartModal" class="minicart-modal" uk-modal>
      <div class="uk-modal-dialog">
        <div class="uk-modal-body height-content uk-padding-remove" uk-overflow-auto>
          <div class="widget_shopping_cart_content">
            {{ fn('woocommerce_mini_cart') }}
          </div>
        </div>
      </div>
    </div>
    
    {% block theme_preloader_scripts %}
      {% if configs.theme_preloader %}
        <script type='text/javascript'>
          document.body.addEventListener("load", preloadMe());
        </script>
      {% endif %}
    {% endblock %}
    
    {% block scripts %}
      <script>
        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 1,
          spaceBetween: 0,
          // autoplay: {
          //   delay: 2500,
          //   disableOnInteraction: false,
          // },
          breakpoints: {
            640: {
              slidesPerView: 2,
              spaceBetween: 5,
            },
            960: {
              slidesPerView: 3,
              spaceBetween: 10,
            },
            1200: {
              slidesPerView: 4,
              spaceBetween: 15,
            },
          },
        });
        var swiper = new Swiper(".mySwiper2", {
          slidesPerView: 1,
          spaceBetween: 0,
          pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
          },
          // autoplay: {
          //   delay: 2500,
          //   disableOnInteraction: false,
          // },
          breakpoints: {
            640: {
              slidesPerView: 2,
              spaceBetween: 5,
            },
            960: {
              slidesPerView: 3,
              spaceBetween: 10,
            },
            1200: {
              slidesPerView: 4,
              spaceBetween: 10,
            },
          },
        });
        var swiper = new Swiper(".mySwiper3", {
          slidesPerView: 1,
          spaceBetween: 10,
          pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
          },
          // autoplay: {
          //   delay: 2500,
          //   disableOnInteraction: false,
          // },
          breakpoints: {
            640: {
              slidesPerView: 2,
              spaceBetween: 20,
            },
          },
        });
      </script>
    {% endblock %}
    
  </body>

</html>