{% import "_snippets.twig" as snippets %}

{% block html_head_container %}

  {% include '_html-head.twig' %}
    {% block styles %}
      <style>
        .uk-background-muted.bg-img {
          /* background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/45degreee_fabric.png"); */
          /* background-image: url("{{ theme.link }}/assets/img/bgs/brickwall.png"); */
          background-image: url("{{ theme.link }}/assets/img/bgs/solaris-blinds-day-night-1920x1200.jpg");
        }
      </style>
    {% endblock %}
  </head>
  {% endblock %}

  <body class="{{ body_class }}">

    {% block theme_preloader_markup %}
      {% if configs.theme_preloader %}
        <div id="Preloader" class="preloader"></div>
      {% endif %}
    {% endblock %}

    {% do action('theme_before_header') %}

    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}

    <main id="Main" role="main">
      <div id="ContentSection">
        {% block main %}
          <div class="uk-section uk-container">
            {{ snippets.nothing_here()|e('esc_html') }}
          </div>
        {% endblock %}
      </div>
    </main>

    {% block footer %}
      {% include 'footer.twig' %}
    {% endblock %}

    <div id="QuickCallEnquiryContainer" class="rmcc-box-shadow-top">
      <a class="close quickcall-close" uk-toggle="target: #QuickCallEnquiryContainer">x</a>
      <a href="tel:{{ snippets.contact_freephone()|e('esc_html') }}" id="CallNowButton" style="width:50%;display:inline-block;float:left">
        <span uk-icon="icon: receiver"></span> {{ snippets.freephone_label()|e('esc_html') }}
      </a>
      <a href="{{ snippets.whatsapp_web_link()|e('esc_html') }}" id="CallNowButton" style="width:50%;display:inline-block;float:right;background-color:#25D366;">
        <span uk-icon="icon: whatsapp"></span> {{ snippets.whatsapp_label()|e('esc_html') }}
      </a>
    </div>

    {{ fn('wp_footer') }}

    {% block fixednav %}
      {# include '_fixednav.twig' #}
    {% endblock %}

    <div id="MiniCartModal" class="minicart-modal" uk-modal>
      <div class="uk-modal-dialog">
        <div class="uk-modal-body min-height-content uk-padding-remove" uk-overflow-auto>
          <div class="widget_shopping_cart_content">
            {{ fn('woocommerce_mini_cart') }}
          </div>
        </div>
      </div>
    </div>

    {% block theme_preloader_scripts %}
      {% if configs.theme_preloader %}
        <script type='text/javascript'>
          document.body.addEventListener("load", preloadMe());
        </script>
      {% endif %}
    {% endblock %}

    {% block scripts %}
      <!-- header swiper -->
      <script>
        var headerIconsSwiper = new Swiper(".header-icons-swiper", {
          slidesPerView: 1,
          spaceBetween: 0,
          // autoplay: {
          //   delay: 2500,
          //   disableOnInteraction: false,
          // },
          // pagination: false,
          breakpoints: {
            640: {
              slidesPerView: 2,
              spaceBetween: 5,
            },
            960: {
              slidesPerView: 3,
              spaceBetween: 10,
            },
            1200: {
              slidesPerView: 4,
              spaceBetween: 15,
            },
          },
        });
      </script>
      <!-- cookies for quickcall: 1 day expiry -->
      <script>

        var disableQuickcallCookie = getCookie("disablequickcallcookie");

        if (disableQuickcallCookie) {
          setCookie('disablequickcallcookie', true, 7);
          disableQuickCall('QuickCallEnquiryContainer');
        } else {
          unsetCookie('disablequickcallcookie');
          enableQuickcall('QuickCallEnquiryContainer');
        }

        document.querySelectorAll('.quickcall-close').forEach(item => {
          item.addEventListener('mousedown', event => {

            event.preventDefault();

            var disableQuickcallCookie = getCookie("disablequickcallcookie");

            if (disableQuickcallCookie != "" && disableQuickcallCookie != null) {
              unsetCookie('disablequickcallcookie');
              enableQuickcall('QuickCallEnquiryContainer');
            } else {
              setCookie('disablequickcallcookie', true, 1);
              disableQuickCall('QuickCallEnquiryContainer');
            }

          })
        })

      </script>
    {% endblock %}

  </body>

</html>
