{% import "_snippets.twig" as snippets %}

{#

  this template will display the collection metas on the single product template
  the collection metas will be a bunch of carousels relating to the collection data on the product
  the logic below is based mainly on: whether the collection metas on the product contain children, or not.

#}

{# set some vars for the template #}
{% set collection_labels = fn('get_taxonomy_labels', fn('get_taxonomy', 'product_cat')) %}
{% set product_collection_terms = post.terms({ query:{taxonomy:'product_cat', orderby:'name', order: 'ASC'} }) %}
{% set product_collection_terms_ids = fn('get_values_from_array_using_key', product_collection_terms) %}
{% set children_in_product_collection_terms = fn('get_children_terms_from_terms_list', product_collection_terms) %}
{% set parents_of_children_in_product_collection_terms = fn('get_parents_of_terms_no_repeat', children_in_product_collection_terms) %}

{% if product_collection_terms is not empty %}
<div class="uk-container uk-container-xsmall">
  <aside class="collection-terms-section uk-section-small uk-background-default">

    <header class="collection-terms-section-header uk-text-center uk-margin-bottom">
      <h2 class="uk-h2 uk-margin-remove">{{ snippets.single_product_collection_meta_heading()|e('esc_html') }}</h2>
      <hr class="uk-divider">
    </header>

    {% if fn('if_terms_contains_child', product_collection_terms, 'product_cat') %}
      <section class="collection-terms-has-children">
        <ul class="product-collection-meta-list uk-grid uk-grid-small uk-child-width-1-1" uk-grid>

          {# loop each term of product_collection_terms where each term is a CHILD #}
          {% for term in product_collection_terms if not (term.parent == '0') %}
            <li class="product-collection-meta-item">
              <header class="product-meta-item-header uk-text-center">
                <p class="uk-text-lead uk-text-muted uk-margin-small">{{ snippets.single_product_collection_meta_products_text()|format(term.name)|e('esc_html') }} <span class="uk-text-lowercase">{{ collection_labels.singular_name|e('esc_html') }}</span></p>
              </header>
              <div class="product-meta-item-carousel uk-position-relative">
                <div id="swiper{{term.term_id|e('esc_html')}}" class="swiper-two four-col-swiper uk-overflow-hidden">
                  <div class="swiper-wrapper term-products-carousel">
                    {# loop the products associated with the current looped term, excluding the current post #}
                    {% for post in term.posts({post_type:'product', orderby:'rand', nopaging: true, post__not_in: [post.id] }) %}
                      <div class="swiper-slide product">
                        {% include '_tease-product.twig' with {w: 500, h: 500, pos: 'center', title_tag: 'uk-h5', disable_collections: true} %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div id="swiperPagi{{term.term_id|e('esc_html')}}" class="swiper-pagination four-col-pagination uk-margin-small-top"></div>
              </div>
              <footer class="product-meta-item-footer">
                <script>
                  // 1col on mobile up to 4cols on desktop
                  var swiper{{term.term_id|e('esc_html')}} = new Swiper("#swiper{{term.term_id|e('esc_html')}}", {
                    slidesPerView: 1,
                    spaceBetween: 0,
                    centerInsufficientSlides: true,
                    pagination: {
                      el: "#swiperPagi{{term.term_id|e('esc_html')}}",
                      dynamicBullets: true,
                    },
                    // autoplay: {
                    //   delay: 2500,
                    //   disableOnInteraction: false,
                    // },
                    breakpoints: {
                      640: {
                        slidesPerView: 2,
                        spaceBetween: 5,
                      },
                      960: {
                        slidesPerView: 3,
                        spaceBetween: 10,
                      },
                      1200: {
                        slidesPerView: 4,
                        spaceBetween: 10,
                      },
                    },
                  });
                </script>
              </footer>
            </li>
          {% endfor %}

          {# loop thru the parents of the product's child collections - excludes repeats #}
          {% for parent in parents_of_children_in_product_collection_terms if (fn('does_term_have_children', parent.term_id, 'product_cat')) %}
            <li class="product-collection-meta-item">
              {% set children_ids = fn('array_diff', fn('get_term_children', parent.term_id, 'product_cat'), product_collection_terms_ids) %} {# this excludes the current product's collection terms #}
              {% set _children = fn('get_terms', {include: children_ids}) %}
              {% set children = fn('set_terms_thumbs', _children, 'product_cat', 'thumbnail_id') %}
              <header class="product-meta-item-header uk-text-center">
                <p class="uk-text-lead uk-text-muted uk-margin-small">{{ snippets.single_product_collection_meta_terms_text()|format(parent.name)|e('esc_html') }} <span class="uk-text-lowercase">{{ collection_labels.singular_name|e('esc_html') ~ 's' }}</span></p>
              </header>
              <div class="product-meta-item-carousel uk-position-relative">
                <div id="swiper{{parent.term_id|e('esc_html')}}" class="swiper-two four-col-swiper uk-overflow-hidden">
                  <div class="swiper-wrapper terms-carousel">
                    {# loop thru the children of the current looped parent #}
                    {% for term in children %}
                      <div class="swiper-slide term">
                        {% include '_tease-term.twig' with {w: 700, h: 700, pos: 'center', title_tag: 'uk-h5'} %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div id="swiperPagi{{parent.term_id|e('esc_html')}}" class="swiper-pagination four-col-pagination uk-margin-small-top"></div>
              </div>
              <footer class="product-meta-item-footer">
                <script>
                  // 1col on mobile up to 4cols on desktop
                  var swiper{{parent.term_id|e('esc_html')}} = new Swiper("#swiper{{parent.term_id|e('esc_html')}}", {
                    slidesPerView: 1,
                    spaceBetween: 0,
                    centerInsufficientSlides: true,
                    pagination: {
                      el: "#swiperPagi{{parent.term_id|e('esc_html')}}",
                      dynamicBullets: true,
                    },
                    // autoplay: {
                    //   delay: 2500,
                    //   disableOnInteraction: false,
                    // },
                    breakpoints: {
                      640: {
                        slidesPerView: 2,
                        spaceBetween: 5,
                      },
                    },
                  });
                </script>
              </footer>
            </li>
          {% endfor %}

        </ul>
      </section>
    {% endif %}

    {% if not fn('if_terms_contains_child', product_collection_terms, 'product_cat') %}
      <section class="collection-terms-is-childless">
        <ul class="product-collection-meta-list uk-grid uk-grid-small uk-child-width-1-1" uk-grid>

          {# loop thru each parent collection within the product #}
          {% for term in product_collection_terms if fn('get_term_children', term.term_id, 'product_cat') is not empty %}
            <li class="product-collection-meta-item">
              {% set children = fn('get_terms', {include: fn('get_term_children', term.term_id, 'product_cat'), hide_empty: false}) %} {# no need to exclude anything here as there should be no children anyway! #}
              <header class="product-meta-item-header uk-text-center">
                <p class="uk-text-lead uk-text-muted uk-margin-small">{{ snippets.single_product_collection_meta_terms_text()|format(term.name)|e('esc_html') }} <span class="uk-text-lowercase">{{ collection_labels.name|e('esc_html') }}</span></p>
              </header>
              <div class="product-meta-item-carousel uk-position-relative">
                <div id="swiper{{term.term_id|e('esc_html')}}" class="swiper-two four-col-swiper uk-overflow-hidden">
                  <div class="swiper-wrapper terms-carousel term-children-carousel">
                    {# loop thru the children of the current looped term (parent) #}
                    {% for term in children %}
                      <div class="swiper-slide term">
                        {% include '_tease-term.twig' with {w: 700, h: 700, pos: 'center', title_tag: 'uk-h5'} %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div id="swiperPagi{{term.term_id|e('esc_html')}}" class="swiper-pagination four-col-pagination uk-margin-small-top"></div>
              </div>
              <footer class="product-meta-item-footer">
                <script>
                  // 1col on mobile up to 4cols on desktop
                  var swiper{{term.term_id|e('esc_html')}} = new Swiper("#swiper{{term.term_id|e('esc_html')}}", {
                    slidesPerView: 1,
                    spaceBetween: 0,
                    centerInsufficientSlides: true,
                    pagination: {
                      el: "#swiperPagi{{term.term_id|e('esc_html')}}",
                      dynamicBullets: true,
                    },
                    // autoplay: {
                    //   delay: 2500,
                    //   disableOnInteraction: false,
                    // },
                    breakpoints: {
                      640: {
                        slidesPerView: 2,
                        spaceBetween: 5,
                      },
                    },
                  });
                </script>
              </footer>
            </li>
          {% endfor %}

          {% for term in product_collection_terms if fn('get_term_children', term.term_id, 'product_cat') is empty %}
            <li class="product-collection-meta-item">
              <header class="product-meta-item-header uk-text-center">
                <p class="uk-text-lead uk-text-muted uk-margin-small">{{ snippets.single_product_collection_meta_products_text()|format(term.name)|e('esc_html') }} <span class="uk-text-lowercase">{{ collection_labels.singular_name|e('esc_html') }}</span></p>
              </header>
              <div class="product-meta-item-carousel uk-position-relative">
                <div id="swiper{{term.term_id|e('esc_html')}}" class="swiper-two four-col-swiper uk-overflow-hidden">
                  <div class="swiper-wrapper term-products-carousel">
                    {# loop the products associated with current looped term, excluding the current post #}
                    {% for post in term.posts({post_type:'product', orderby:'name', order: 'ASC', nopaging: true, post__not_in: [post.id] }) %}
                      <div class="swiper-slide product">
                        {% include '_tease-product.twig' with {w: 500, h: 500, pos: 'center', title_tag: 'uk-h5', disable_collections: true} %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div id="swiperPagi{{term.term_id|e('esc_html')}}" class="swiper-pagination four-col-pagination uk-margin-small-top"></div>
              </div>
              <footer class="product-meta-item-footer">
                <script>
                  // 1col on mobile up to 4cols on desktop
                  var swiper{{term.term_id|e('esc_html')}} = new Swiper("#swiper{{term.term_id|e('esc_html')}}", {
                    slidesPerView: 1,
                    spaceBetween: 0,
                    centerInsufficientSlides: true,
                    pagination: {
                      el: "#swiperPagi{{term.term_id|e('esc_html')}}",
                      dynamicBullets: true,
                    },
                    // autoplay: {
                    //   delay: 2500,
                    //   disableOnInteraction: false,
                    // },
                    breakpoints: {
                      640: {
                        slidesPerView: 2,
                        spaceBetween: 5,
                      },
                      960: {
                        slidesPerView: 3,
                        spaceBetween: 10,
                      },
                      1200: {
                        slidesPerView: 4,
                        spaceBetween: 10,
                      },
                    },
                  });
                </script>
              </footer>
            </li>
          {% endfor %}

        </ul>
      </section>
    {% endif %}

  </aside>
</div>
{% endif %}
