{% extends "single.twig" %}

{% block styles %}
  {{ parent() }}
  <!-- <link rel="stylesheet" href="{{ theme.link }}/assets/css/product.css" /> -->
  <style>
    .uk-container-small {
      max-width: 980px;
    }
    .uk-background-tertiary {
      background-color: #a93b59;
    }
    .uk-background-fourth {
      background-color: #2c9363;
    }
    .woocommerce-product-gallery {
      width: 100%!important;
    }
  </style>
{% endblock %}

{% block main %}
  <div id="Product-{{ post.id|e('esc_html') }}" class="single-product-details {{ post.class|e('esc_html') }} uk-sectionnn uk-margin-large-bottom" itemscope itemtype="http://schema.org/Product">
    
    {% block single_header %}
      {% if fn('post_password_required', post.id) %}
        {{ parent() }}
      {% endif %}
    {% endblock %}
    
    {% block breads %}
      <div class="uk-background-default uk-container uk-container-small push-up-5">
        {% include '_breads.twig' %}
      </div>
    {% endblock %}
    
    {% if not fn('post_password_required', post.id) %}
    
      {# product content #}
      <section class="product-content-section uk-section-small uk-container uk-container-small">
        
        {% do action('woocommerce_before_single_product') %} {# store notices #}
          
        <div class="uk-grid-small" uk-grid="masonry: true;">
          
          <div class="product-left uk-width-1-2@m">
            {% do action('woocommerce_before_single_product_summary') %} {# product thumb/gallery #}
          </div>
          
          <div class="product-right uk-width-1-2@m">
            {% do action('woocommerce_single_product_summary') %} {# product details #}
          </div>
        
        </div>
        
      </section>
      
      {# make it your own #}
      <section class="product-more-section uk-container uk-margin-large-bottom">
        <div class="uk-background-muted">
          <div class="uk-container uk-container-small uk-text-center uk-section uk-section-small">
            <h2 class="uk-margin-small-bottom">Make it your own</h2>
            <p class="uk-margin-small-top">Create the perfect, unique look with our range of customisation options</p>
  
            <div class="swiper-two mySwiper4 uk-overflow-hidden uk-margin-medium-top">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="theme-border">
                    <img src="https://picsum.photos/200/133?random=1" alt="" width="200" height="133">
                    <div class="uk-background-default uk-padding-small">
                      Item
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="theme-border">
                    <img src="https://picsum.photos/200/133?random=2" alt="" width="200" height="133">
                    <div class="uk-background-default uk-padding-small">
                      Item
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="theme-border">
                    <img src="https://picsum.photos/200/133?random=3" alt="" width="200" height="133">
                    <div class="uk-background-default uk-padding-small">
                      Item
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="theme-border">
                    <img src="https://picsum.photos/200/133?random=4" alt="" width="200" height="133">
                    <div class="uk-background-default uk-padding-small">
                      Item
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="theme-border">
                    <img src="https://picsum.photos/200/133?random=5" alt="" width="200" height="133">
                    <div class="uk-background-default uk-padding-small">
                      Item
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="theme-border">
                    <img src="https://picsum.photos/200/133?random=6" alt="" width="200" height="133">
                    <div class="uk-background-default uk-padding-small">
                      Item
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="theme-border">
                    <img src="https://picsum.photos/200/133?random=7" alt="" width="200" height="133">
                    <div class="uk-background-default uk-padding-small">
                      Item
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="theme-border">
                    <img src="https://picsum.photos/200/133?random=8" alt="" width="200" height="133">
                    <div class="uk-background-default uk-padding-small">
                      Item
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="theme-border">
                    <img src="https://picsum.photos/200/133?random=5" alt="" width="200" height="133">
                    <div class="uk-background-default uk-padding-small">
                      Item
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="theme-border">
                    <img src="https://picsum.photos/200/133?random=6" alt="" width="200" height="133">
                    <div class="uk-background-default uk-padding-small">
                      Item
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="theme-border">
                    <img src="https://picsum.photos/200/133?random=7" alt="" width="200" height="133">
                    <div class="uk-background-default uk-padding-small">
                      Item
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="theme-border">
                    <img src="https://picsum.photos/200/133?random=8" alt="" width="200" height="133">
                    <div class="uk-background-default uk-padding-small">
                      Item
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination uk-margin-large-top"></div>
            </div>
            
          </div>
        </div>
      </section>
      
      {# product tabs #}
      <section class="product-tabs-section uk-container uk-container-small uk-margin-large-bottom">
        {% do action('woocommerce_after_single_product_summary') %}
      </section>
      
      {# make it your own #}
      <section class="product-more-section uk-container uk-margin-large-bottom">
        <div class="uk-background-muted">
          <div class="uk-container uk-container-small uk-section uk-section-small">
            <h2 class="uk-text-center uk-margin-small-bottom">Sit back, relax. Let us do it all.</h2>
  
            <ul class="uk-child-width-1-3@m uk-grid-collapse" uk-grid>
              <li class="uk-background-tertiary uk-light uk-padding">
                <div class="uk-flex uk-flex-middle" uk-grid>
                  <div class="uk-width-auto uk-text-emphasis">
                    <i class="fa-solid fa-tape fa-2x"></i>
                  </div>
                  <div class="uk-width-expand">
                    <h3>All expertly measured</h3>
                    <p>We do the measuring and advise you on the perfect solution for your window</p>
                  </div>
                </div>
              </li>
              <li class="uk-background-primary uk-light uk-padding">
                <div class="uk-flex uk-flex-middle" uk-grid>
                  <div class="uk-width-auto uk-text-emphasis">
                    <i class="fa-solid fa-screwdriver fa-2x"></i>
                  </div>
                  <div class="uk-width-expand">
                    <h3>All tailor-made for you</h3>
                    <p>All our products are made to order for an exact fit</p>
                  </div>
                </div>
              </li>
              <li class="uk-background-fourth uk-light uk-padding">
                <div class="uk-flex uk-flex-middle" uk-grid>
                  <div class="uk-width-auto uk-text-emphasis">
                    <i class="fa-solid fa-scissors fa-2x"></i>
                  </div>
                  <div class="uk-width-expand">
                    <h3>All fitted to perfection</h3>
                    <p>We do the fitting, and all our products are fully guaranteed</p>
                  </div>
                </div>
              </li>
            </ul>
            
          </div>
        </div>
      </section>
      
      {# meta link #}
      <meta itemprop="url" content="{{ post.link|e('esc_url') }}" />
      
      {# upsells & relateds #}
      {% if up_sells is not empty or related_products is not empty %}
        {% include '_related-upsells.twig' %}
      {% endif %}
      
      {% do action('woocommerce_after_single_product') %}
      
      {% block single_footer %}
        {{ parent() }}
      {% endblock %}
    
    {% else %}
      <div class="password-protected-form uk-container">
        {% include '_password-protected-form.twig' %}
      </div>
    {% endif %}
  
  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script>
    var swiper4 = new Swiper(".mySwiper4", {
      slidesPerView: 4,
      spaceBetween: 5,
      pagination: {
        el: ".swiper-pagination",
        // dynamicBullets: true,
      },
      breakpoints: {
        // when window width is >= 640px
        640: {
          slidesPerView: 6,
          spaceBetween: 10
        }
      }
      // autoplay: {
      //   delay: 2500,
      //   disableOnInteraction: false,
      // },
      // breakpoints: {
      //   640: {
      //     slidesPerView: 2,
      //     spaceBetween: 20,
      //   },
      // },
    });
  </script>
  <script type='text/javascript'>
  
    // what to do to Woo when the document is ready
    jQuery(document).ready(function($) {
      
      // notices 
      $(".woocommerce-notices-wrapper").addClass("uk-container uk-container-large uk-margin-small");
      $(".woocommerce-notices-wrapper .button").addClass("uk-button uk-button-primary uk-button-small uk-small-margin-right");
      
      // sale badge
      $(".onsale").addClass("uk-card-badge uk-label");
      
      // add-to-cart
      $(".variations_form table").addClass("uk-table-small uk-table-divider uk-table-middle uk-table-justify uk-position-relative");
      // add-to-cart
      $(".product-right .button").addClass("uk-button uk-button-primary");
      // product buttons
      $("#ProductButtons .button").addClass("uk-button uk-button-small uk-button-primary");
      // quantity input
      $(".quantity").addClass("uk-width-auto uk-display-inline-block");
      
      // product metas
      $(".product_meta").addClass("uk-margin-small-top");
      $(".product_meta > span").addClass("uk-display-block");
      
      // stock
      $(".in-stock").addClass("uk-text-success");
      $(".out-of-stock").addClass("uk-text-danger");
      
      // tab heading
      $(".tab-content h2").addClass("uk-h4");
      // reviews tab
      $("ol.commentlist").addClass("uk-list uk-list-divider");
      // additional info tab
      $(".woocommerce-product-attributes").addClass("uk-table-small uk-table-divider uk-table-middle uk-table-justify uk-margin-remove-bottom");
      
    });
    
    var related_swiper = new Swiper('#slideshow_related', {
      slidesPerView: 2,
      spaceBetween: 10,
      // autoplay: {
      //   delay: 4000,
      //   disableOnInteraction: true,
      // },
      // init: false,
      pagination: {
        el: '.swiper-pagination',
        dynamicBullets: true,
      },
      breakpoints: {
        960: {
          slidesPerView: 3,
          spaceBetween: 15,
        },
        1290: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
      }
    });
    var upsells_swiper = new Swiper('#slideshow_upsells', {
      slidesPerView: 2,
      spaceBetween: 10,
      // autoplay: {
      //   delay: 4000,
      //   disableOnInteraction: true,
      // },
      // init: false,
      pagination: {
        el: '.swiper-pagination',
        dynamicBullets: true,
      },
      breakpoints: {
        // 960: {
        //   slidesPerView: 3,
        //   spaceBetween: 15,
        // },
        1290: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
      }
    });
  
  </script>
{% endblock %}