{% import "_snippets.twig" as snippets %}

<footer class="uk-background-secondary uk-light">
  
  <div class="footer-top uk-section uk-section-small uk-container">
  
    <ul class="" uk-grid>
      <li class="uk-width-1-3@m">
        <div class="uk-text-small">
          {% if sidebar_footer %}
            {{ sidebar_footer }}
          {% else %}
            {% if theme.logo %}
              <a class="uk-logo uk-text-emphasis uk-padding-remove" href="{{ site.url|e('esc_url') }}">
                <img src="{{ theme.logo.src|e('esc_url') }}" width="{{ theme.logo.w }}" height="{{ theme.logo.h }}" alt="{{ theme.logo.alt|e('esc_html') }}">
              </a>
            {% else %}
              <div class="">
                <div class="uk-child-width-1-1 uk-grid-collapse uk-margin-remove" uk-grid>
                  <div class="normal-line-height">
                    <a class="uk-logo uk-text-emphasis uk-padding-remove" href="{{ site.url|e('esc_url') }}">
                      {{ site.title|e('esc_html') }}
                    </a>
                  </div>
                  <div>
                    <div class="uk-text-small uk-text-italic">{{ site.description|e('esc_html') }}</div>
                  </div>
                </div>
              </div>
            {% endif %}
            <p>Ned Murphy Tractors Ltd. based in Enniscorthy Co. Wexford, Ireland is a family run business with over 30 years of knowledge and experience in Base Ferguson Tractors.</p>
            <p>Base Salvage is a division of Ned Murphy Tractors that focuses on the sale of quality used second hand Base Ferguson parts.</p>
          {% endif %}
        </div>
      </li>
      <li class="uk-width-1-6@m">
        {% if has_menu_footer_one %}
          <h4 class="uk-h5">{{ menu_footer_one.title|e('esc_html') }}</h4>
          <ul class="uk-list uk-list-collapse">
            {% for item in menu_footer_one.get_items %}
              <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                <a href="{{ item.link|e('esc_html') }}">{{ item.title|e('esc_html') }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <h4 class="uk-h5">Information</h4>
          <ul class="uk-list uk-list-collapse">
            <li>Log in</li>
            <li>Entries feed</li>
            <li>Comments feed</li>
            <li>WordPress.org</li>
          </ul>
        {% endif %}
      </li>
      <li class="uk-width-1-6@m">
        {% if has_menu_footer_two %}
          <h4 class="uk-h5">{{ menu_footer_two.title|e('esc_html') }}</h4>
          <ul class="uk-list uk-list-disc uk-list-collapse">
            {% for item in menu_footer_two.get_items %}
              <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                <a href="{{ item.link|e('esc_html') }}">{{ item.title|e('esc_html') }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <h4 class="uk-h5">Help & support</h4>
          <ul class="uk-list uk-list-disc uk-list-collapse">
            <li>Contacts</li>
            <li>Wishlist</li>
            <li>My account</li>
            <li>Cart</li>
          </ul>
        {% endif %}
      </li>
      <li class="uk-width-1-3@m">
        <h4 class="uk-h5">{{ snippets.contact_text()|e('esc_html') }}</h4>
        <ul class="uk-list uk-text-small">
          <li>
            <div>
              <ul class="uk-flex uk-flex-top uk-grid-small" uk-grid>
                <li class="uk-width-auto">
                  <div><i class="fa-solid fa-map-pin"></i></div>
                </li>
                <li class="uk-width-expand">
                  <div>
                    <span class="uk-text-emphasis uk-text-bolder">{{ base_address|e('esc_html')|default('Ballydaw') }}, {{ base_address_2|e('esc_html')|default('Marshalstown') }},</span><br>
                    {{ base_city|e('esc_html')|default('Enniscorthy') }}, {{ base_county|e('esc_html')|default('Wexford') }} {{ base_eircode|e('esc_html')|default('Y21 K684') }}</span>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div>
              <ul class="uk-flex uk-flex-top uk-grid-small" uk-grid>
                <li class="uk-width-auto">
                  <div><i class="fa-solid fa-phone"></i></div>
                </li>
                <li class="uk-width-expand">
                  <div>
                    <span class="uk-text-emphasis uk-text-bolder">{{ snippets.contact_phone()|e('esc_html') }}</span><br>
                    {{ snippets.contact_hours()|e('esc_html') }}
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div>
              <ul class="uk-flex uk-flex-top uk-grid-small" uk-grid>
                <li class="uk-width-auto">
                  <div><i class="fa-solid fa-envelope"></i></div>
                </li>
                <li class="uk-width-expand">
                  <div>
                    <span class="uk-text-emphasis uk-text-bolder">{{ snippets.contact_email()|e('esc_html') }}</span>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="uk-margin-top" hidden>
          <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
          <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
          <a href="" class="uk-icon-button" uk-icon="youtube"></a>
        </div>
      </li>
    </ul>
    
  </div>
  
  <div class="footer-bottom uk-section uk-section-small uk-container">
    <p class="uk-margin-remove uk-text-small uk-text-meta">{{ snippets.copy_text()|e('esc_html') }}. {{ site.title|e('esc_html') }}</p>
  </div>
  
</footer>