{% import "_snippets.twig" as snippets %}

{% block header_content %}
  <header id="SiteHeader" class="site-header uk-ppposition-top uk-ppposition-z-indexxx uk-width-1-1">
    <div class="uk-containerr">
      
      {% block header_top %}
        <div class="header-top uk-background-secondary uk-light uk-visible@m">
          <div class="uk-container uk-padding-ssmall uk-text-small">
            <div class="uk-text-center">
              <span>{{ snippets.header_left_text()|e('esc_html') }}</span>
            </div>
          </div>
        </div>
      {% endblock %}
      
      {% block header_bottom %}
        <div class="header-dark uk-background-secondary uk-light" uk-sticky="cls-active: uk-width-1-1; cls-inactive: uk-containerr;animation: uk-animation-slide-top">
          <div class="uk-container uk-padding-small sticky-wrap">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
              
              {% block header_bottom_logo %}
                <div class="uk-navbar-left">
                  {% if theme.logo %}
                    <a class="uk-navbar-item uk-logo uk-text-emphasis uk-padding-remove" href="{{ site.url|e('esc_url') }}">
                      <img src="{{ theme.logo.src|e('esc_url') }}" width="{{ theme.logo.w }}" height="{{ theme.logo.h }}" alt="{{ theme.logo.alt|e('esc_html') }}">
                    </a>
                  {% else %}
                    <div class="uk-navbar-item pull-left-15">
                      <div class="uk-child-width-1-1 uk-grid-collapse uk-margin-remove" uk-grid>
                        <div class="normal-line-height">
                          <a class="uk-logo uk-text-emphasis uk-padding-remove" href="{{ site.url|e('esc_url') }}">
                            {{ site.title|e('esc_html') }}
                          </a>
                        </div>
                        <div>
                          <div class="uk-text-small uk-text-italic">{{ site.description|e('esc_html') }}</div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </div>
              {% endblock %}
              
              {% block header_bottom_main_menu %}
                <div class="uk-navbar-right uk-visible@m">
                  {% if has_menu_main %}
                    <ul class="uk-navbar-nav">
                      
                      {% for item in menu_main.get_items %}
                        {% if item.get_children %}
                          <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                            <a href="{{ item.get_link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
                            <div class="uk-navbar-dropdown">
                              <ul class="uk-nav uk-navbar-dropdown-nav">
                                {% for child in item.get_children %}
                                  <li class="{{ child.classes|join(' ')|e('esc_html') }}">
                                    <a href="{{ child.get_link|e('esc_url') }}">{{ child.title|e('esc_html') }}</a>
                                    {% if child.children %}
                                      <div class="uk-navbar-dropdown" uk-dropdown="pos: right-top">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                          {% for third in child.children %}
                                            <li class="{{ third.classes|join(' ')|e('esc_html') }}">
                                              <a href="{{ third.get_link|e('esc_url') }}">{{ third.title|e('esc_html') }}</a>
                                            </li>
                                          {% endfor %}
                                        </ul>
                                      </div>
                                    {% endif %}
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                          </li>
                        {% else %}
                          <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                            <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                      
                      {# account toggle #}
                      <li class="user-icon uk-visible@m">
                        <a href="{{dashboard_endpoint|e('esc_url')}}">
                          {{ snippets.account_icon() }}
                        </a>
                      </li>
                      
                      {# cart toggle #}
                      <li class="basket-icon uk-visible@m">
                        <a href="#MiniCartModal" uk-toggle>
                          
                          {{ snippets.basket_icon() }}
                          
                          <span class="uk-position-relative">
                            <span class="">
                              <span class="header-cart-count">{{ WC.cart.get_cart_contents_count()|e('wp_kses_post') }}</span>
                              <span class="subtotal-cart">{{ WC.cart.get_cart_subtotal()|e('wp_kses_post') }}</span>
                            </span>
                          </span>
                          
                        </a>
                      </li>
                      
                      {# search toggle #}
                      <li class="search-icon uk-visible@m" hidden>
                        <a href="#ModalSearch" uk-toggle>
                          {{ snippets.search_icon() }}
                        </a>
                      </li>
                      
                      {# mobile toggle #}
                      <li class="uk-hidden@m">
                        <a class="uk-navbar-toggle" uk-toggle="target: #SlideInMenu">{{ snippets.menu_bars_icon() }}</a>
                      </li>
                      
                    </ul>
                  {% else %}
                    <!-- *Main Menu Menu has not been set -->
                  {% endif %}
                </div>
              {% endblock %}
              
              {% block header_bottom_mobile_toggle %}
                {% if has_menu_mobile %}
                  <div class="uk-navbar-right uk-hidden@m">
                    <div class="uk-navbar-item uk-padding-remove">
                      <div class="mobile-menu-toggle-wrap uk-border-rounded">
                        <a href="#MobileOffCanvas" uk-toggle>
                          {{ snippets.mobile_menu_icon_small() }}
                        </a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endblock %}
            
            </nav>
          </div>
        </div>
      {% endblock %}
      
    </div>
  </header>
{% endblock %}

{% block header_search_popup %}
  <div id="ModalSearch" class="uk-modal-full uk-modal" uk-modal>
    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
      <button class="uk-modal-close-full" type="button" uk-close></button>
      <form class="uk-search uk-search-large" role="search" method="get" action="{{site.url}}">
        <input id="header-search" class="uk-search-input uk-text-center" type="search" name="s" placeholder="{{snippets.search_form_placeholder}}" 
        required maxlength="100" pattern=".*\S+.*" autocomplete="off" autofocus>
        <!-- <input type="hidden" name="post_type" value="product" /> -->
      </form>
    </div>
  </div>
{% endblock %}

{% block header_offcanvas %}
  {% if has_menu_mobile %}
    <nav id="MobileOffCanvas" class="mobile-slide-navbar" uk-offcanvas="mode: slide; overlay: true">
      <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        
        {% block header_offcanvas_close %}
          <a class="uk-offcanvas-close uk-text-primary">
            {{ snippets.close_mobile_menu_icon() }}
          </a>
        {% endblock %}
        
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
          
          {% block header_offcanvas_header %}
            <li class="uk-nav-header uk-text-boldest uk-logo uk-h5 uk-margin-remove uk-width-5-6">
              {% if theme.logo %}
                <img src="{{ theme.logo.src|e('esc_url') }}" width="{{ theme.logo.w }}" height="{{ theme.logo.h }}" alt="{{ theme.logo.alt|e('esc_html') }}">
              {% else %}
                {{ site.title|e('esc_html') }}
              {% endif %}
            </li>
          {% endblock %}
          
          {% block header_offcanvas_divider %}
            <li class="uk-nav-divider"></li>
          {% endblock %}
          
          {% block header_offcanvas_menu %}
            {% if has_menu_mobile %}
              {% for item in menu_mobile.get_items %}
                {% if item.get_children %}
                  <li class="{{ item.classes|join(' ')|e('esc_html') }} uk-parent">
                    <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html')}}</a>
                    <ul class="uk-nav-sub">
                      {% for child in item.get_children %}
                        <li class="{{ child.classes|join(' ')|e('esc_html') }}">
                          <a href="{{ child.get_link|e('esc_url') }}">- {{ child.title|e('esc_html')}}</a>
                          {% if child.children %}
                            <ul class="uk-nav-sub">
                              {% for third in child.children %}
                                <li class="{{ child.classes|join(' ')|e('esc_html') }}">
                                  <a href="{{ child.get_link|e('esc_url') }}">- {{ child.title|e('esc_html')}}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                    <a href="{{ item.get_link|e('esc_url') }}">{{ item.title|e('esc_html')}}</a>
                  </li>
                {% endif %}
              {% endfor %}
              <li class="uk-nav-divider"></li>
            {% else %}
              <!-- *Mobile Menu has not been set -->
            {% endif %}
          {% endblock %}
          
          {% block header_offcanvas_bottom %}
            <div class="uk-position-bottom-center uk-position-small uk-text-center">
              
              {% block header_offcanvas_contact_menu %}
                {% if has_menu_contact %}
                  <div class="">
                    {% for item in menu_contact.get_items %}
                      <a href="{{ item.link|e('esc_html') }}" class="uk-button uk-button-text uk-margin-top uk-text-boldest">{{ item.title|e('esc_html') }}</a>
                    {% endfor %}
                  </div>
                {% else %}
                  <!-- *Contact Menu has not been set -->
                {% endif %}
              {% endblock %}
              
              {% block header_offcanvas_text %}
                <div class="uk-margin-small">
                  {{ snippets.header_left_text()|e('esc_html') }}
                </div>
              {% endblock %}
              
              {% block header_offcanvas_iconnav %}
                <div>
                  <ul class="uk-subnav pull-left-15 uk-flex-center">
                    {% if has_menu_iconnav %}
                      {% for item in menu_iconnav.get_items %}
                        <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                          <a href="{{ item.get_link|e('esc_url') }}" class="uk-text-emphasis">
                            {{ item.title|e('wp_kses_post')}}
                          </a>
                        </li>
                      {% endfor %}
                      <li class="">
                        <a href="#ModalSearch" class="uk-text-emphasis" uk-toggle>
                          {{ snippets.search_icon() }}
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              {% endblock %}
              
            </div>
          {% endblock %}
          
        </ul>
        
      </div>
    </nav>
  {% endif %}
{% endblock %}