{% import "_snippets.twig" as snippets %}

{% set _container_class = container_class|default('uk-margin-large-bottom') %}

{% if (posts.pagination.next or posts.pagination.prev) %}
  <nav class="pagination {{ _container_class }}">
    <ul class="uk-pagination uk-flex-center uk-margin-remove">
      
      {% if posts.pagination.prev %}
        <li>
          <a href="{{ posts.pagination.prev.link|e('esc_url') }}" class="prev">
            {{ snippets.left_pagi_icon }} {{ snippets.prev_page|e('esc_html') }}
          </a>
        </li>
      {% endif %}
      
      {% for page in posts.pagination.pages %}
        <li>
          {% if page.link %}
            <a href="{{ page.link|e('esc_url') }}" class="{{ page.class|e('esc_html') }}">{{ page.title|e('esc_html') }}</a>
          {% else %}
            <span class="{{ page.class|e('esc_html') }}">{{ page.title|e('esc_html') }}</span>
          {% endif %}
        </li>
      {% endfor %}
      
      {% if posts.pagination.next %}
        <li>
          <a href="{{ posts.pagination.next.link|e('esc_url') }}" class="next">
            {{ snippets.next_page|e('esc_html') }} {{ snippets.right_pagi_icon }}
          </a>
        </li>
      {% endif %}
      
    </ul>
  </nav>
{% endif %}