{% import "_snippets.twig" as snippets %}

<footer class="site-footer">
  <nav class="uk-navbar-container">
    <div class="uk-container" uk-navbar>
      
      {# copyright #}
      <div class="uk-navbar-left">
        <div class="uk-navbar-item pull-left-15">
          <p class="uk-margin-remove">
            {{ snippets.copyright()|e('esc_html') }} {{ now|date('Y')|e('esc_html') }} <a href="{{ site.link|e('esc_url') }}" uk-tooltip="{{ snippets.back_to_home()|e('esc_html') }}">{{ site.title|e('esc_html') }}</a>
          </p>
        </div>
    	</div>
      
      {# back to top #}
      <div class="uk-navbar-right">
        <div class="uk-navbar-item pull-right-15">
          <a href="#" uk-totop uk-scroll uk-tooltip="{{ snippets.go_to_top()|e('esc_html') }}"></a>
        </div>
    	</div>
      
    </div>
  </nav>
</footer>