{% import "_snippets.twig" as snippets %}

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 0,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 5,
      },
      960: {
        slidesPerView: 3,
        spaceBetween: 10,
      },
      1200: {
        slidesPerView: 4,
        spaceBetween: 15,
      },
    },
  });
</script>

<footer class="site-footer">
  <div class="footer-top theme-border-top">
    <div class="uk-container uk-container-small uk-section uk-section-small">
      
      <ul class="uk-child-width-1-2 uk-child-width-1-4@m uk-grid-small" uk-grid="masonry:true">
        
        <li>
          <h4 class="uk-h5 uk-text-bold uk-margin-small-bottom">{{ site.title|e('esc_html') }}</h4>
          <ul class="uk-list uk-list-collapse uk-margin-remove">
            <li>Find Your Local Advisor</li>
            <li>Sitemap</li>
            <li>Privacy Policy</li>
            <li>Terms & Conditions</li>
            <li>Anti-Slavery</li>
            <li>Tax Strategy</li>
            <li>Cookie Information</li>
            <li>Solaris Blinds & Curtains</li>
          </ul>
        </li>
        
        <li>
          <h4 class="uk-h5 uk-text-bold uk-margin-small-bottom">Our range</h4>
          <ul class="uk-list uk-list-collapse uk-margin-remove">
            <li>Blinds</li>
            <li>Curtains</li>
            <li>Shutters</li>
            <li>Conservatory Blinds</li>
          </ul>
        </li>
        
        <li>
          <h4 class="uk-h5 uk-text-bold uk-margin-small-bottom">Customer service</h4>
          <ul class="uk-list uk-list-collapse uk-margin-remove">
            <li>Contact Us</li>
            <li>FAQs</li>
            <li>Cleaning Your Blinds</li>
            <li>Covid 19</li>
          </ul>
        </li>
        
        <li>
          <div class="uk-padding-small uk-border-rounded theme-border">
            <h4 class="uk-margin-small-bottom">Newsletter Signup</h4>
            <p>Sign up to receive updates on our latest collections, trends and offers. Enter your email address below:</p>
            <form>
              <input class="uk-input uk-form-large uk-border-rounded" type="text" placeholder="Some text...">
              <input type="submit" value="Submit" class="uk-button uk-button-primary uk-border-rounded uk-margin-small-top">
            </form>
          </div>
        </li>
      
      </ul>
      
    </div>
  </div>
  <div class="footer-bottom uk-background-default theme-border-top uk-padding-small uk-padding-remove-horizontal">
    <div class="uk-container uk-container-small">
      
      <ul class="uk-flex uk-flex-middle" uk-grid>
      
        {# copyright #}
        <li class="uk-width-1-2">
          <p class="uk-margin-remove">
            {{ snippets.copyright()|e('esc_html') }} {{ now|date('Y')|e('esc_html') }} <a href="{{ site.link|e('esc_url') }}" uk-tooltip="{{ snippets.back_to_home()|e('esc_html') }}">{{ site.title|e('esc_html') }}</a>
          </p>
      	</li>
        
        {# back to top #}
        <li class="uk-width-1-2 uk-flex uk-flex-right uk-text-right">
          <a href="#" uk-totop uk-scroll uk-tooltip="{{ snippets.go_to_top()|e('esc_html') }}"></a>
      	</li>
      
      </ul>
      
    </div>
  </div>
</footer>