{% import "_snippets.twig" as snippets %}

<footer class="site-footer">
  <div class="footer-top uk-background-muted theme-border-top">
    <div class="uk-container uk-section uk-section-small">
      <div>
        <ul class="" uk-grid="masonry:true">
          <li class="uk-width-1-4@m">
            <div class="uk-margin-right">
              <a class="uk-logo uk-text-bold" href="{{ site.link|e('esc_url') }}">
                {% if theme.logo %}
                  <img src="{{ theme.logo.src|e('esc_url') }}" width="{{ theme.logo.w }}" height="{{ theme.logo.h }}" alt="{{ theme.logo.alt|e('esc_html') }}">
                {% else %}
                  {{ site.title|e('esc_html') }}
                {% endif %}
              </a>
              <p>Our expert team have been established for over 20 years, we are proud to say that we know our business inside & out.</p>
            </div>
          </li>
          <li class="uk-width-1-6@m">
            <h4 class="uk-h5 uk-text-bold uk-margin-small-bottom">Navigation</h4>
            <ul class="uk-list uk-list-collapse uk-margin-remove">
              <li><a href="/">Homepage</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/about">ABout us</a></li>
            </ul>
          </li>
          <li class="uk-width-1-6@m">
            <h4 class="uk-h5 uk-text-bold uk-margin-small-bottom">Our range</h4>
            <ul class="uk-list uk-list-collapse uk-margin-remove">
              <li><a href="/blinds">Blinds</a></li>
              <li><a href="/curtains">Curtains</a></li>
              <li><a href="/shutters">Shutters</a></li>
            </ul>
          </li>
          <li class="uk-width-1-6@m">
            <h4 class="uk-h5 uk-text-bold uk-margin-small-bottom">Information</h4>
            <ul class="uk-list uk-list-collapse uk-margin-remove">
              <!-- <li>Find Your Local Advisor</li> -->
              <li><a href="/sitemap_index.xml">Sitemap</a></li>
              <li><a href="/cookie-policy/">Cookie Policy</a></li>
              <li><a href="/privacy-policy/">Privacy Policy </a></li>
            </ul>
          </li>
          <li class="uk-width-1-4@m">
            <div class="uk-padding-small uk-border-rounded uk-background-default theme-border">
              <h4 class="uk-margin-small-bottom">Contact us</h4>
              <p>Contact us today so we can help guide your decisions to redesigning your home or office</p>
              <div class="uk-margin-remove">
                <a href="/contact" class="uk-button uk-button-primary">Contact us</a>
                <!-- <form class="uk-search uk-search-default">
                  <span class="uk-search-icon-flip" uk-search-icon></span>
                  <input class="uk-search-input" type="search" placeholder="Search">
                </form> -->
              </div>
            </div>
          </li>
        </ul>
      </div>  
    </div>
  </div>
  <div class="footer-bottom uk-background-default theme-border-top uk-padding-small uk-padding-remove-horizontal">
    <div class="uk-container">
      
      <ul class="uk-flex uk-flex-middle" uk-grid>
      
        {# copyright #}
        <li class="uk-width-1-2">
          <p class="uk-margin-remove">
            {{ snippets.copyright()|e('esc_html') }} {{ now|date('Y')|e('esc_html') }} <a href="{{ site.link|e('esc_url') }}" uk-tooltip="{{ snippets.back_to_home()|e('esc_html') }}">{{ site.title|e('esc_html') }}</a>
          </p>
        </li>
        
        {# back to top #}
        <li class="uk-width-1-2 uk-flex uk-flex-right uk-text-right">
          <a href="#" uk-totop uk-scroll uk-tooltip="{{ snippets.go_to_top()|e('esc_html') }}"></a>
        </li>
      
      </ul>
      
    </div>
  </div>
</footer>