{% import "_snippets.twig" as snippets %}

<footer class="site-footer uk-container">

  {% if has_menu_footer_one or has_menu_footer_two or has_menu_footer_three or has_menu_footer_four or has_menu_footer_five %}
    <hr>
    <div class="footer-top uk-section uk-section-small">
      <ul class="uk-child-width-1-5@m uk-grid-small uk-flex uk-flex-center" uk-grid>
        {% if has_menu_footer_one %}
          <li class="">
            <h4 class="uk-h4">{{ menu_footer_one.title|e('esc_html') }}</h4>
            <ul class="uk-list uk-list-collapse uk-margin-remove">
              {% for item in menu_footer_one.get_items %}
                <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                  <a href="{{ item.link|e('esc_html') }}" class="uk-link-text">{{ item.title|e('esc_html') }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
        {% if has_menu_footer_two %}
          <li class="">
            <h4 class="uk-h4">{{ menu_footer_two.title|e('esc_html') }}</h4>
            <ul class="uk-list uk-list-collapse uk-margin-remove">
              {% for item in menu_footer_two.get_items %}
                <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                  <a href="{{ item.link|e('esc_html') }}" class="uk-link-text">{{ item.title|e('esc_html') }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
        {% if has_menu_footer_three %}
          <li class="">
            <h4 class="uk-h4">{{ menu_footer_three.title|e('esc_html') }}</h4>
            <ul class="uk-list uk-list-collapse uk-margin-remove">
              {% for item in menu_footer_three.get_items %}
                <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                  <a href="{{ item.link|e('esc_html') }}" class="uk-link-text">{{ item.title|e('esc_html') }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
        {% if has_menu_footer_four %}
          <li class="">
            <h4 class="uk-h4">{{ menu_footer_four.title|e('esc_html') }}</h4>
            <ul class="uk-list uk-list-collapse uk-margin-remove">
              {% for item in menu_footer_four.get_items %}
                <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                  <a href="{{ item.link|e('esc_html') }}" class="uk-link-text">{{ item.title|e('esc_html') }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
        {% if has_menu_footer_five %}
          <li class="">
            <h4 class="uk-h4">{{ menu_footer_five.title|e('esc_html') }}</h4>
            <ul class="uk-list uk-list-collapse uk-margin-remove">
              {% for item in menu_footer_five.get_items %}
                <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                  <a href="{{ item.link|e('esc_html') }}" class="uk-link-text">{{ item.title|e('esc_html') }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}

  <hr>
  <div class="footer-bottom uk-padding">
    {% if has_menu_iconnav %}
      <h4 class="uk-text-center uk-margin-small">{{ menu_iconnav.title|e('esc_html') }}</h4>
      <ul class="uk-iconnav uk-flex uk-flex-center">
        {% for item in menu_iconnav.get_items %}
          <li class="{{ item.classes|join(' ')|e('esc_html') }}">
            <a href="{{ item.get_link|e('esc_url') }}" target="_blank" class="">
              {{ item.title|e('wp_kses_post')}}
            </a>
          </li>
        {% endfor %}
      </ul>
      <hr class="uk-divider-small uk-text-center">
    {% endif %}
    <!-- <p class="uk-text-center uk-text-small">All Rights Reserved © Copyright 2022 Hillarys. Made with Computerlove</p> -->
    <p class="uk-text-center uk-text-small">
      {{ snippets.copy_text()|e('esc_html') }} {{ now|date('Y')|e('esc_html') }} - <a href="{{ site.link|e('esc_url') }}" uk-tooltip="{{ snippets.back_to_home()|e('esc_html') }}">{{ site.title|e('esc_html') }}</a>
      <br>
      Made by <a href="https://github.com/robmccormack89/" uk-tooltip="Check me out on github" target="_blank">robmccormack89 <span uk-icon="icon: github"></span></a>
    </p>
  </div>

</footer>
