{% import "_snippets.twig" as snippets %}

{% set series = post.terms( {query:{taxonomy:'product_series', orderby:'name', order: 'ASC', parent: 0 }} ) %}

<h2 class="uk-h4">{{ snippets.custom_tab_title|e('esc_html') }}</h2>

{% if series is not empty %}
  <div class="uk-overflow-auto">
    <table class="shop_attributes uk-table uk-table-divider uk-margin-remove-bottom uk-table-small uk-table-justify">
      <thead>
          <tr>
            <th class="uk-width-small">{{ snippets.series_txt|e('esc_html') }}:</th>
            <th>{{ snippets.models_txt|e('esc_html') }}:</th>
          </tr>
      </thead>
      <tbody>
        {% for term in series %}
          {% set models = post.terms( {query:{taxonomy:'product_series', orderby:'name', order: 'ASC', child_of: term.term_id }} ) %}
          <tr>
            <td class="uk-text-bold">{{ term.name|e('esc_html') }}:</td>
            <td>
              {{ models|map(item => item.name)|join(', ')|e('esc_html') }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}