{% import "_snippets.twig" as snippets %}

{# filter by category #}
<h3 class="uk-h6 uk-margin-small">{{ snippets.filter_cat_text|e('esc_html') }}</h3>
<ul class="cat-list cat-list-panel uk-nav uk-nav-default uk-panel uk-panel-scrollable">
  
  {% for cat in function('product_cats_for_filters') %}
    {% if function ('product_cat_has_children', cat.term_id) %}
      <li id="{{ cat.slug|e('esc_html') }}" class="uk-parent uk-position-relative {{ (fn('get_query_var', 'product_cat') == cat.slug) ? 'uk-active' }}">
        <a data-link="{{ function ('add_query_arg_product_cats_for_filters', cat.slug)|e('esc_url') }}" class="" style="Z-index:11;">
          <div class="uk-radio uk-hidden" {{ (fn('get_query_var', 'product_cat') == cat.slug) ? 'checked'}}></div>
          {{ cat.name|e('esc_html') }}
        </a>
        {% set loopy %}
          {% for sub_cat in function ('sub_cats_for_filters', cat.term_id) %}
            <li id="{{ sub_cat.slug|e('esc_html') }}" class="{{ (fn('get_query_var', 'product_cat') == sub_cat.slug) ? 'uk-active' }}" {% if fn('get_query_var', 'product_cat') == cat.slug or fn('get_query_var', 'product_cat') == sub_cat.slug %}{% else %}hidden{% endif %}>
              <a data-link="{{ function ('add_query_arg_product_cats_for_filters', sub_cat.slug)|e('esc_url') }}" >
                <div class="uk-radio uk-hidden" {{ (fn('get_query_var', 'product_cat') == sub_cat.slug) ? 'checked'}}></div>
                {{ sub_cat.name|e('esc_html') }}
              </a>
            </li>
          {% endfor %}
        {% endset %}
        {% if fn('str_contains', loopy, 'uk-active') or fn('get_query_var', 'product_cat') == cat.slug %}
          <ul class="uk-nav-sub">
            {{ loopy }}
          </ul>
        {% endif %}
      </li>
    {% else %}
      <li id="{{ cat.slug|e('esc_html') }}" class="{{ (fn('get_query_var', 'product_cat') == cat.slug) ? 'uk-active' }}">
        <a data-link="{{ function ('add_query_arg_product_cats_for_filters', cat.slug)|e('esc_url') }}" >
          <div class="uk-radio uk-hidden" {{ (fn('get_query_var', 'product_cat') == cat.slug) ? 'checked'}}></div>
          {{ cat.name|e('esc_html') }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  
  {% if function('product_cats_for_filters') is empty %}
    <li>{{ snippets.empty_cats|e('esc_html') }}</li>
  {% endif %}
  
</ul>

{# filter by seruies/model #}
<h3 class="uk-h6 uk-margin-small">{{ snippets.filter_series_text|e('esc_html') }}</h3>
<ul class="series-list series-list-panel uk-nav uk-nav-default uk-panel uk-panel-scrollable">
  
  {% for cat in function('product_series_for_filters') %}
    {% if function ('product_series_has_children', cat.term_id) %}
      <li id="{{ cat.slug|e('esc_html') }}" class="uk-parent uk-position-relative {{ (fn('get_query_var', 'product_series') == cat.slug) ? 'uk-active' }}">
        <a data-link="{{ function ('add_query_arg_product_series_for_filters', cat.slug)|e('esc_url') }}" >
          <div class="uk-radio uk-hidden" {{ (fn('get_query_var', 'product_series') == cat.slug) ? 'checked'}}></div>
          {{ cat.name|e('esc_html') }}
        </a>
        {% set loopy2 %}
          {% for sub_cat in function ('sub_series_for_filters', cat.term_id) %}
            <li id="{{ sub_cat.slug|e('esc_html') }}" class="{{ (fn('get_query_var', 'product_series') == sub_cat.slug) ? 'uk-active' }}" {% if fn('get_query_var', 'product_series') == cat.slug or fn('get_query_var', 'product_series') == sub_cat.slug %}{% else %}hidden{% endif %}>
              <a data-link="{{ function ('add_query_arg_product_series_for_filters', sub_cat.slug)|e('esc_url') }}" >
                <div class="uk-radio uk-hidden" {{ (fn('get_query_var', 'product_series') == sub_cat.slug) ? 'checked'}}></div>
                {{ sub_cat.name|e('esc_html') }}
              </a>
            </li>
          {% endfor %}
        {% endset %}
        {% if fn('str_contains', loopy2, 'uk-active') or fn('get_query_var', 'product_series') == cat.slug %}
          <ul class="uk-nav-sub">
            {{ loopy2 }}
          </ul>
        {% endif %}
      </li>
    {% else %}
      <li id="{{ cat.slug|e('esc_html') }}" class="{{ (fn('get_query_var', 'product_series') == cat.slug) ? 'uk-active' }}">
        <a data-link="{{ function ('add_query_arg_product_series_for_filters', cat.slug)|e('esc_url') }}" >
          <div class="uk-radio uk-hidden" {{ (fn('get_query_var', 'product_series') == cat.slug) ? 'checked'}}></div>
          {{ cat.name|e('esc_html') }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  
  {% if function('product_series_for_filters') is empty %}
    <li>{{ snippets.empty_series|e('esc_html') }}</li>
  {% endif %}
  
</ul>

{# filter by orderby #}
<h3 class="uk-h6 uk-margin-small">{{ snippets.sorting_text|e('esc_html') }}</h3>
{% do action('woocommerce_before_shop_loop') %} {# will be the sorting filters #}