{% import "_snippets.twig" as snippets %}

{% set collection_labels = fn('get_taxonomy_labels', fn('get_taxonomy', 'product_cat')) %}
{% set range_labels = fn('get_taxonomy_labels', fn('get_taxonomy', 'pa_range')) %}
{% set feature_labels = fn('get_taxonomy_labels', fn('get_taxonomy', 'product_tag')) %}
{% set product_cats_for_filters = fn('product_cats_for_filters') %}
{% set product_ranges_for_filters = fn('product_ranges_for_filters') %}
{% set product_tags_for_filters = fn('product_tags_for_filters') %}

<form id="FiltersForm" action="{{ shop_url|e('esc_url') }}" class="" method="get" role="search">
  <fieldset class="uk-fieldset">

    <!-- filters buttons -->
    <div id="FiltersFormMainArea" class="uk-background-muted theme-border uk-border-rounded uk-padding-small">
      <ul class="advform-main uk-flex uk-flex-middle uk-grid uk-grid-small" uk-grid>

        <li class="uk-width-auto">
          <strong>{{ snippets.shop_filters_text()|e('esc_html') }}</strong>
        </li>

        {% if product_cats_for_filters is not empty %}
          <li class="advform-product_cat uk-width-auto {{ (archive.is_sub_collection) ? 'theme-hidden' }}">
            <a id="ProductCatFiltersBtn" class="filter-btn" drop_target="#ProductCatFilters">
              <span>{{ collection_labels.name|e('esc_html') }} <i class="fa-solid fa-caret-down" hidden></i></span>
            </a>
          </li>
          <li id="loader_product_cat_sub" class="loading-item uk-hidden">
            <div id="loading"></div>
          </li>
          <li id="product_cat_sub" class="advform uk-hidden">
            <a id="ProductSubCatFiltersBtn" class="filter-btn" drop_target="#ProductSubCatFilters">
              <span>{{ snippets.sub_term_pre_label()|format(collection_labels.name)|e('esc_html') }} <i class="fa-solid fa-caret-down" hidden></i></span>
            </a>
          </li>
        {% endif %}

        {% if product_ranges_for_filters is not empty %}
          <li class="advform-product_range uk-width-auto {{ (archive.is_sub_range) ? 'theme-hidden' }}">
            <a id="ProductRangeFiltersBtn" class="filter-btn" drop_target="#ProductRangeFilters">
              <span>{{ (range_labels.singular_name ~ 's')|e('esc_html') }} <i class="fa-solid fa-caret-down" hidden></i></span>
            </a>
          </li>
          <li id="loader_product_range_sub" class="loading-item uk-hidden">
            <div id="loading"></div>
          </li>
          <li id="product_range_sub" class="advform uk-hidden">
            <a id="ProductSubRangeFiltersBtn" class="filter-btn" drop_target="#ProductSubRangeFilters">
              <span>{{ snippets.sub_term_pre_label()|format(range_labels.singular_name ~ 's')|e('esc_html') }} <i class="fa-solid fa-caret-down" hidden></i></span>
            </a>
          </li>
        {% endif %}

        {% if product_tags_for_filters is not empty %}
          <li class="advform-product_tag uk-width-auto">
            <a id="ProductTagFiltersBtn" class="filter-btn" drop_target="#ProductTagFilters">
              <span>{{ feature_labels.name|e('esc_html') }} <i class="fa-solid fa-caret-down" hidden></i></span>
            </a>
          </li>
        {% endif %}

      </ul>
    </div>

    <!-- filters dropdown areas -->
    <div id="FiltersFormDropArea" class="">

      {% if product_cats_for_filters is not empty %}
        <div id="ProductCatFilters" class="filter-area cat-filters">
          <div class="uk-padding uk-background-default">
            <div id="product_cat_group" class="uk-grid-small uk-child-width-auto uk-margin-remove uk-grid">
              {% for cat in fn('product_cats_for_filters') %}
                <label class="uk-form-label">
                  <input
                  class="uk-checkbox uk-border-rounded {{ fn('is_term_active', cat.slug) or fn('is_term_parent_of_active', cat.term_id) ? 'prevent-unclick' }}
                  {{ fn('does_term_have_children', cat.term_id) ? 'has-children' }}"
                  type="checkbox"
                  name="product_cat" id="{{ cat.term_id|e('esc_html') }}" value="{{ cat.slug|e('esc_html') }}"
                  {{ fn('is_term_active', cat.slug) or fn('is_term_parent_of_active', cat.term_id) ? 'checked' }}>
                  {{ cat.name|e('esc_html') }}
                </label>
              {% endfor %}
            </div>
          </div>
          {% include '_shop-filters-form-submit-btns.twig' %}
        </div>
        <div id="ProductSubCatFilters" class="filter-area subcat-filters">
          <div class="uk-padding uk-background-default">
            <div id="product_subcat_group" class="uk-grid-small uk-child-width-auto uk-margin-remove uk-grid">
            </div>
          </div>
          {% include '_shop-filters-form-submit-btns.twig' %}
        </div>
      {% endif %}

      {% if product_ranges_for_filters is not empty %}
        <div id="ProductRangeFilters" class="filter-area range-filters">
          <div class="uk-padding uk-background-default">
            <div id="product_range_group" class="uk-grid-small uk-child-width-auto uk-margin-remove uk-grid">
              {% for range in fn('product_ranges_for_filters') %}
                <label class="uk-form-label">
                  <input
                  class="uk-checkbox uk-border-rounded {{ fn('is_term_active', range.slug, fn('get_query_var', 'pa_range')) or fn('is_term_parent_of_active', range.term_id, 'pa_range') ? 'prevent-unclick' }}
                  {{ fn('does_term_have_children', range.term_id, 'pa_range') ? 'has-children' }}"
                  type="checkbox"
                  name="pa_range" id="{{ range.term_id|e('esc_html') }}" value="{{ range.slug|e('esc_html') }}"
                  {{ fn('is_term_active', range.slug, fn('get_query_var', 'pa_range')) or fn('is_term_parent_of_active', range.term_id, 'pa_range') ? 'checked' }}>
                  {{ range.name|e('esc_html') }}
                </label>
              {% endfor %}
            </div>
          </div>
          {% include '_shop-filters-form-submit-btns.twig' %}
        </div>
        <div id="ProductSubRangeFilters" class="filter-area subrange-filters">
          <div class="uk-padding uk-background-default">
            <div id="product_subrange_group" class="uk-grid-small uk-child-width-auto uk-margin-remove uk-grid">
            </div>
          </div>
          {% include '_shop-filters-form-submit-btns.twig' %}
        </div>
      {% endif %}

      {% if product_tags_for_filters is not empty %}
        <div id="ProductTagFilters" class="filter-area">
          <div class="uk-padding uk-background-default">
            <div id="product_tag_group" class="uk-grid-small uk-child-width-auto uk-margin-remove uk-grid">
              {% for tag in fn('product_tags_for_filters') %}
                <label class="uk-form-label">
                  <input
                  class="uk-checkbox uk-border-rounded {{ fn('is_term_active', tag.slug, fn('get_query_var', 'product_tag')) ? 'prevent-unclick' }}"
                  type="checkbox"
                  name="product_tag" id="{{ tag.term_id|e('esc_html') }}" value="{{ tag.slug|e('esc_html') }}"
                  {{ fn('is_term_active', tag.slug, fn('get_query_var', 'product_tag')) ? 'checked' }}>
                  {{ tag.name|e('esc_html') }}
                </label>
              {% endfor %}
            </div>
          </div>
          {% include '_shop-filters-form-submit-btns.twig' %}
        </div>
      {% endif %}

    </div>

  </fieldset>
</form>
