{% for term in subrange_sel_terms %}
  <label class="uk-form-label">
    <input
    class="uk-checkbox uk-border-rounded has-children {{ fn('is_term_active', term.slug, type_vars) ? 'prevent-unclick'}}"
    type="checkbox"
    name="pa_range" id="{{ term.term_id|e('esc_html') }}" value="{{ term.slug|e('esc_html') }}" data-parent="{{ fn('get_parent_term_slug_from_child', term, 'pa_range') }}"
    {{ fn('is_term_active', term.slug, type_vars) ? 'checked'}}>
    {{ term.name|e('esc_html') }}
  </label>
{% endfor %}
