<article id="{{ term.term_id|e('esc_html') }}" class="post uk-transition-toggle" data-term-id="{{ term.term_id|e('esc_html') }}">

  <div class="tease-image uk-position-relative uk-inline">
    <a class="uk-inline-clip uk-border-rounded uk-box-shadow-medium" href="{{ term.link|e('esc_url') }}">
      <img class="uk-transition-scale-up uk-transition-opaque" src="{{ term.thumbnail.src|default(configs.theme_defaults.thumbnail.src)|resize(w|default(900), h|default(null), pos|default(null))|e('esc_url') }}" alt="{{ term.thumbnail.alt|e('esc_html') }}">
    </a>
  </div>

  <div class="tease-details uk-margin-small-top">
    <div class="tease-title">
      <h3 class="{{ title_tag|default('uk-h3') }} uk-margin-small-bottom">
        <a class="uk-link-heading" href="{{ term.link|e('esc_url') }}">
          {{ term.name|e('esc_html') }}
        </a>
      </h3>
    </div>
  </div>

</article>
