{{ fn('timber_set_product', post) }}

<article id="{{ post.id|e('esc_html') }}" class="{{ post.class|e('esc_html') }} post uk-transition-toggle" data-product-id="{{ post.id|e('esc_html') }}">

  {% do action('woocommerce_before_shop_loop_item') %}

  {% if post.thumbnail %}
    <div class="tease-image uk-position-relative uk-inline">
      {% if not disable_collections %}
        <div class="uk-position-top-right uk-position-small uk-position-z-index">
          <p class="tease-cats uk-margin-remove">
            {% for collection in post.terms( {query:{taxonomy:'product_cat', orderby:'name', order: 'ASC'}} ) %}
              <a title="{{ collection|e('esc_html') }}" href="{{ fn('get_term_link', collection)|e('esc_url') }}"><span class="uk-label uk-border-rounded uk-overlay-greypurple uk-text-light uk-light">{{ collection|e('esc_html') }}</span></a>
            {% endfor %}
          </p>
        </div>
      {% endif %}
      <a class="uk-inline-clip uk-border-rounded uk-box-shadow-medium" href="{{ post.link|e('esc_url') }}">
        {% do action('woocommerce_before_shop_loop_item_title') %} {# thumb/sales #}
        <img class="uk-transition-scale-up uk-transition-opaque" src="{{ post.thumbnail.src|resize(w|default(900), h|default(null), pos|default(null))|e('esc_url') }}" alt="{{ post.thumbnail.alt|e('esc_html') }}">
      </a>
    </div>
  {% endif %}

  <div class="tease-details uk-margin-small-top">

    {% if not disable_ranges %}
      <p class="tease-cats uk-margin-remove">
        {# post.terms( {query:{taxonomy:'product_cat', orderby:'name', order: 'ASC'}} )|join(', ') #}
        {# dump(post.terms) #}
        {% for range in post.terms( {query:{taxonomy:'pa_range', orderby:'name', order: 'ASC'}} ) %}
          <a title="{{ range|e('esc_html') }}" href="{{ fn('get_term_link', range)|e('esc_url') }}">{{ range|e('esc_html') }}</a>{{ loop.last ? '' : ',' }}
        {% endfor %}
      </p>
    {% endif %}

    <div class="tease-title">
      {% do action('woocommerce_shop_loop_item_title') %} {# title #}
      <h3 class="{{ title_tag|default('uk-h3') }} uk-margin-small-bottom">
        <a class="uk-link-heading" href="{{ post.link|e('esc_url') }}">
          {{ post.title|e('esc_html') }}
        </a>
      </h3>
    </div>

    {% do action('woocommerce_after_shop_loop_item_title') %} {# price/rating #}

    {% do action( 'woocommerce_after_shop_loop_item' ) %} {# add to cart #}

  </div>

</article>
