{% import "_snippets.twig" as snippets %}

<ul class="uk-margin-remove">

  {% set product_cpt_obj = fn('get_post_type_object', 'product') %}
  {% set product_labels = product_cpt_obj.labels %}
  {% set collection_labels = fn('get_taxonomy_labels', fn('get_taxonomy', 'product_cat')) %}
  {% set range_labels = fn('get_taxonomy_labels', fn('get_taxonomy', 'pa_range')) %}
  {% set feature_labels = fn('get_taxonomy_labels', fn('get_taxonomy', 'product_tag')) %}

  {% if ranges is not empty %}
    {% for range in ranges %}
      <li>
         <a class="uk-link-text" href="{{ fn('get_term_link', range)|e('esc_url') }}">
           <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
             <div class="uk-width-expand">
               {{ range.name|e('esc_html') }}
             </div>
             <div clas="uk-width-auto">
               <div class="uk-text-meta ajax-search-meta uk-text-right">
                 {{ (range_labels.singular_name)|e('esc_html') }}
               </div>
             </div>
           </div>
         </a>
       </li>
    {% endfor %}
  {% endif %}

  {% if collections is not empty %}
    {% for collection in collections %}
      <li>
         <a class="uk-link-text" href="{{ fn('get_term_link', collection)|e('esc_url') }}">
           <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
             <div class="uk-width-expand">
               {{ collection.name|e('esc_html') }}
             </div>
             <div clas="uk-width-auto">
               <div class="uk-text-meta ajax-search-meta uk-text-right">
                 {{ collection_labels.singular_name|e('esc_html') }}
               </div>
             </div>
           </div>
         </a>
       </li>
    {% endfor %}
  {% endif %}

  {% if features is not empty %}
    {% for feature in features %}
      <li>
         <a class="uk-link-text" href="{{ fn('get_term_link', feature)|e('esc_url') }}">
           <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
             <div class="uk-width-expand">
               {{ feature.name|e('esc_html') }}
             </div>
             <div clas="uk-width-auto">
               <div class="uk-text-meta ajax-search-meta uk-text-right">
                 {{ feature_labels.singular_name|e('esc_html') }}
               </div>
             </div>
           </div>
         </a>
       </li>
    {% endfor %}
  {% endif %}

  {% if products is not empty %}
    {% for product in products %}
      <li>
        <a class="uk-link-text" href="{{ fn('get_permalink', product.id)|e('esc_url') }}">
          <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              {{ product.name|e('esc_html') }}
            </div>
            <div clas="uk-width-auto">
              <div class="uk-text-meta ajax-search-meta uk-text-right">
                {{ product_labels.singular_name|e('esc_html') }}
              </div>
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  {% endif %}

  {% if products_in_range is not empty %}
    {% for product_in_range in products_in_range %}
      <li>
         <a class="uk-link-text" href="{{ fn('get_permalink', product_in_range.id) }}">
           <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
             <div class="uk-width-expand">
               {{ product_in_range.title|e('esc_html') }} ({{ query_string_upper|e('esc_html') }})
             </div>
             <div clas="uk-width-auto">
               <div class="uk-text-meta ajax-search-meta uk-text-right">
                 {{ snippets.product_in_term_placeholder()|format(product_labels.singular_name, range_labels.singular_name)|e('esc_html') }}
               </div>
             </div>
           </div>
         </a>
       </li>
     {% endfor %}
  {% endif %}

  {% if products_in_collection is not empty %}
    {% for product_in_collection in products_in_collection %}
      <li>
         <a class="uk-link-text" href="{{ fn('get_permalink', product_in_collection.id) }}">
           <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
             <div class="uk-width-expand">
               {{ product_in_collection.title|e('esc_html') }} ({{ query_string_upper|e('esc_html') }})
             </div>
             <div clas="uk-width-auto">
               <div class="uk-text-meta ajax-search-meta uk-text-right">
                 {{ snippets.product_in_term_placeholder()|format(product_labels.singular_name, collection_labels.singular_name)|e('esc_html') }}
               </div>
             </div>
           </div>
         </a>
       </li>
     {% endfor %}
  {% endif %}

  {% if products_in_feature is not empty %}
    {% for product_in_feature in products_in_feature %}
      <li>
         <a class="uk-link-text" href="{{ fn('get_permalink', product_in_feature.id) }}">
           <div class="uk-grid-small uk-flex uk-flex-middle" uk-grid>
             <div class="uk-width-expand">
               {{ product_in_feature.title|e('esc_html') }} ({{ query_string_upper|e('esc_html') }})
             </div>
             <div clas="uk-width-auto">
               <div class="uk-text-meta ajax-search-meta uk-text-right">
                 {{ snippets.product_in_term_placeholder()|format(product_labels.singular_name, feature_labels.singular_name)|e('esc_html') }}
               </div>
             </div>
           </div>
         </a>
       </li>
     {% endfor %}
  {% endif %}

  {% if (ranges is empty) and (collections is empty) and (features is empty) and (products is empty) and (products_in_range is empty) and (products_in_collection is empty) and (products_in_feature is empty) %}
    <li>
      <p class="padding-5 uk-padding-remove-vertical uk-margin-remove uk-text-small uk-text-muted">
        {{ snippets.live_search_empty()|e('esc_html') }}
      </p>
    </li>
  {% endif %}

</ul>
