{% extends "single.twig" %}

{% block styles %}
  {# parent() #}
  <!-- <link rel="stylesheet" href="{{ theme.link }}/assets/css/product.css" /> -->
{% endblock %}

{% block single_thumb %}
  {# remove the main featured image from breadcrumbs area #}
{% endblock %}

{% block main %}

  <div id="Product-{{ post.id|e('esc_html') }}" class="single-product-details {{ post.class|e('esc_html') }} uk-section" itemscope itemtype="http://schema.org/Product">
    
    {% block single_header %}
      {# parent() #}
    {% endblock %}
    
    <section class="product-content-section uk-section-small uk-container">
      
      {% do action('woocommerce_before_single_product') %} {# store notices etc... #}
        
      <div uk-grid="masonry: true;">
        
        <div class="product-left uk-width-1-3@m">
          {% do action('woocommerce_before_single_product_summary') %} {# product image #}
        </div>
        
        <div class="product-right uk-width-2-3@m">
          {% do action('woocommerce_single_product_summary') %} {# product details #}
        </div>
      
      </div>
      
      {% do action('woocommerce_after_single_product_summary') %} {# product tabs #}
        
    </section>
    
    <meta itemprop="url" content="{{ post.link }}" />
    
    {% if up_sells is not empty or related_products is not empty %}
      {# include '_related-upsells.twig' #}
    {% endif %}
    
    {% do action('woocommerce_after_single_product') %} {# after product ? #}
    
    {% block single_footer %}
      {{ parent() }}
    {% endblock %}
  
  </div>
  
{% endblock %}

{% block scripts %}
  {# parent() #}
  <!-- <script type='text/javascript' src='{{ theme.link }}/assets/js/woo/product.js'></script> -->
{% endblock %}